body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1657px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:738px;
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:738px;
}
#u773 {
  position:absolute;
  left:2px;
  top:361px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:40px;
}
#u774 {
  position:absolute;
  left:873px;
  top:0px;
  width:487px;
  height:39px;
  color:#FF0000;
  text-align:left;
}
#u775 {
  position:absolute;
  left:2px;
  top:2px;
  width:483px;
  word-wrap:break-word;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:670px;
}
#u776 {
  position:absolute;
  left:873px;
  top:89px;
  width:784px;
  height:669px;
  text-align:left;
}
#u777 {
  position:absolute;
  left:2px;
  top:2px;
  width:780px;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:140px;
}
#u778 {
  position:absolute;
  left:873px;
  top:770px;
  width:296px;
  height:140px;
}
#u779 {
  position:absolute;
  left:2px;
  top:62px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:731px;
}
#u780 {
  position:absolute;
  left:440px;
  top:0px;
  width:413px;
  height:731px;
}
#u781 {
  position:absolute;
  left:2px;
  top:358px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:735px;
}
#u782 {
  position:absolute;
  left:0px;
  top:771px;
  width:412px;
  height:735px;
}
#u783 {
  position:absolute;
  left:2px;
  top:360px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:736px;
}
#u784 {
  position:absolute;
  left:440px;
  top:770px;
  width:412px;
  height:736px;
}
#u785 {
  position:absolute;
  left:2px;
  top:360px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u786 {
  position:absolute;
  left:56px;
  top:1522px;
  width:300px;
  height:30px;
}
#u787 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u788 {
  position:absolute;
  left:496px;
  top:1522px;
  width:300px;
  height:30px;
}
#u789 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
#u790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u790 {
  position:absolute;
  left:873px;
  top:56px;
  width:152px;
  height:26px;
  color:#FFFFFF;
}
#u791 {
  position:absolute;
  left:10px;
  top:5px;
  width:132px;
  word-wrap:break-word;
}
