body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2205px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:706px;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:706px;
  font-size:20px;
}
#u859 {
  position:absolute;
  left:2px;
  top:345px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u860 {
  position:absolute;
  left:735px;
  top:308px;
  width:314px;
  height:75px;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862 {
  position:absolute;
  left:735px;
  top:349px;
  width:71px;
  height:16px;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(49, 191, 207, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u864 {
  position:absolute;
  left:806px;
  top:345px;
  width:104px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u865 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u866 {
  position:absolute;
  left:928px;
  top:345px;
  width:93px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u867 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:735px;
  top:393px;
  width:71px;
  height:16px;
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u870 {
  position:absolute;
  left:806px;
  top:388px;
  width:71px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u871 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(251, 106, 95, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u872 {
  position:absolute;
  left:806px;
  top:442px;
  width:113px;
  height:32px;
  font-size:14px;
}
#u873 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(1, 191, 205, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u874 {
  position:absolute;
  left:944px;
  top:442px;
  width:113px;
  height:32px;
  font-size:14px;
}
#u875 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u877 {
  position:absolute;
  left:806px;
  top:306px;
  width:170px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u878 {
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u879 {
  position:absolute;
  left:811px;
  top:309px;
  width:135px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u881 {
  position:absolute;
  left:954px;
  top:315px;
  width:15px;
  height:8px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u882 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:49px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#E1041D;
}
#u883 {
  position:absolute;
  left:816px;
  top:232px;
  width:163px;
  height:49px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#E1041D;
}
#u884 {
  position:absolute;
  left:0px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u885 {
  position:absolute;
  left:1559px;
  top:29px;
  width:153px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u886 {
  position:absolute;
  left:10px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:647px;
  height:69px;
}
#u887 {
  position:absolute;
  left:1559px;
  top:99px;
  width:646px;
  height:68px;
  font-size:20px;
  text-align:left;
}
#u888 {
  position:absolute;
  left:2px;
  top:2px;
  width:642px;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u889 {
  position:absolute;
  left:970px;
  top:250px;
  width:113px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#E1041D;
}
#u891 {
  position:absolute;
  left:1198px;
  top:238px;
  width:104px;
  height:49px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#E1041D;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893 {
  position:absolute;
  left:806px;
  top:333px;
  visibility:hidden;
}
#u893_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u893_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:258px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:258px;
}
#u895 {
  position:absolute;
  left:2px;
  top:121px;
  width:439px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896 {
  position:absolute;
  left:82px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u897 {
  position:absolute;
  left:20px;
  top:11px;
  width:57px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u898 {
  position:absolute;
  left:170px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u899 {
  position:absolute;
  left:213px;
  top:131px;
  width:40px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u900 {
  position:absolute;
  left:401px;
  top:0px;
  width:42px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u893_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u893_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:190px;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:190px;
}
#u902 {
  position:absolute;
  left:2px;
  top:87px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903 {
  position:absolute;
  left:82px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u904 {
  position:absolute;
  left:20px;
  top:11px;
  width:57px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u905 {
  position:absolute;
  left:170px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u906 {
  position:absolute;
  left:126px;
  top:43px;
  width:46px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u907 {
  position:absolute;
  left:404px;
  top:0px;
  width:42px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u893_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u893_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:120px;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:120px;
}
#u909 {
  position:absolute;
  left:2px;
  top:52px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910 {
  position:absolute;
  left:85px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u911 {
  position:absolute;
  left:20px;
  top:11px;
  width:57px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u912 {
  position:absolute;
  left:170px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u913 {
  position:absolute;
  left:123px;
  top:43px;
  width:43px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u914 {
  position:absolute;
  left:399px;
  top:0px;
  width:42px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:94px;
}
#u917 {
  position:absolute;
  left:2px;
  top:39px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:30px;
}
#u919 {
  position:absolute;
  left:2px;
  top:7px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:67px;
}
#u920 {
  position:absolute;
  left:81px;
  top:28px;
  width:342px;
  height:67px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u921 {
  position:absolute;
  left:2px;
  top:26px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u922 {
  position:absolute;
  left:1192px;
  top:2px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u924 {
  position:absolute;
  left:1282px;
  top:2px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u926 {
  position:absolute;
  left:1254px;
  top:6px;
  width:1px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u927 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u928 {
  position:absolute;
  left:1334px;
  top:6px;
  width:1px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u929 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u930 {
  position:absolute;
  left:1369px;
  top:2px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u932 {
  position:absolute;
  left:586px;
  top:50px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u934 {
  position:absolute;
  left:847px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u936 {
  position:absolute;
  left:1152px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u938 {
  position:absolute;
  left:1003px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u940 {
  position:absolute;
  left:1390px;
  top:50px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u942 {
  position:absolute;
  left:912px;
  top:39px;
  width:28px;
  height:16px;
}
#u943 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u944 {
  position:absolute;
  left:916px;
  top:39px;
  width:20px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u946 {
  position:absolute;
  left:1067px;
  top:39px;
  width:28px;
  height:16px;
}
#u947 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u948 {
  position:absolute;
  left:1071px;
  top:39px;
  width:20px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u950 {
  position:absolute;
  left:704px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u951 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u952 {
  position:absolute;
  left:92px;
  top:3px;
  width:189px;
  height:21px;
  color:#999999;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u954 {
  position:absolute;
  left:323px;
  top:3px;
  width:203px;
  height:21px;
  color:#999999;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u956 {
  position:absolute;
  left:1286px;
  top:50px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:37px;
}
#u958 {
  position:absolute;
  left:735px;
  top:166px;
  width:371px;
  height:37px;
  font-size:14px;
  color:#666666;
}
#u959 {
  position:absolute;
  left:0px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1499px;
  height:2386px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  position:absolute;
  left:0px;
  top:566px;
  width:1499px;
  height:2386px;
}
#u961 {
  position:absolute;
  left:2px;
  top:1185px;
  width:1495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1499px;
  height:1662px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:0px;
  top:717px;
  width:1499px;
  height:1662px;
}
#u963 {
  position:absolute;
  left:2px;
  top:823px;
  width:1495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:1299px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u964 {
  position:absolute;
  left:182px;
  top:575px;
  width:1184px;
  height:1299px;
}
#u965 {
  position:absolute;
  left:2px;
  top:642px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#31BFCF;
}
#u966 {
  position:absolute;
  left:735px;
  top:608px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#31BFCF;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u968 {
  position:absolute;
  left:750px;
  top:713px;
  width:50px;
  height:47px;
}
#u969 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
}
#u970 {
  position:absolute;
  left:365px;
  top:713px;
  width:59px;
  height:47px;
}
#u971 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u972 {
  position:absolute;
  left:295px;
  top:783px;
  width:199px;
  height:39px;
  text-align:center;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u974 {
  position:absolute;
  left:687px;
  top:783px;
  width:181px;
  height:34px;
  text-align:center;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:49px;
}
#u976 {
  position:absolute;
  left:1116px;
  top:711px;
  width:36px;
  height:49px;
}
#u977 {
  position:absolute;
  left:2px;
  top:16px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u978 {
  position:absolute;
  left:567px;
  top:713px;
  width:50px;
  height:47px;
}
#u979 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u980 {
  position:absolute;
  left:532px;
  top:783px;
  width:121px;
  height:34px;
  text-align:center;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u982 {
  position:absolute;
  left:932px;
  top:713px;
  width:50px;
  height:47px;
}
#u983 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u984 {
  position:absolute;
  left:909px;
  top:783px;
  width:97px;
  height:34px;
  text-align:center;
}
#u985 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u986 {
  position:absolute;
  left:1032px;
  top:783px;
  width:205px;
  height:34px;
  text-align:center;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1183px;
  height:113px;
}
#u988 {
  position:absolute;
  left:183px;
  top:849px;
  width:1183px;
  height:113px;
}
#u989 {
  position:absolute;
  left:2px;
  top:48px;
  width:1179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1183px;
  height:179px;
}
#u990 {
  position:absolute;
  left:183px;
  top:965px;
  width:1183px;
  height:179px;
}
#u991 {
  position:absolute;
  left:2px;
  top:82px;
  width:1179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:863px;
}
#u992 {
  position:absolute;
  left:183px;
  top:1144px;
  width:1182px;
  height:863px;
}
#u993 {
  position:absolute;
  left:2px;
  top:424px;
  width:1178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:377px;
}
#u994 {
  position:absolute;
  left:182px;
  top:2002px;
  width:1182px;
  height:377px;
}
#u995 {
  position:absolute;
  left:2px;
  top:180px;
  width:1178px;
  visibility:hidden;
  word-wrap:break-word;
}
