body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:706px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u5079 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5080 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:567px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5081 {
  position:absolute;
  left:0px;
  top:59px;
  width:375px;
  height:567px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5082 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u5083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:212px;
}
#u5083 {
  position:absolute;
  left:-1px;
  top:59px;
  width:376px;
  height:212px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5084 {
  position:absolute;
  left:2px;
  top:98px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:26px;
}
#u5085 {
  position:absolute;
  left:114px;
  top:24px;
  width:142px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5086 {
  position:absolute;
  left:2px;
  top:1px;
  width:138px;
  word-wrap:break-word;
}
#u5087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5087 {
  position:absolute;
  left:14px;
  top:337px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5088 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5089 {
  position:absolute;
  left:227px;
  top:336px;
  width:141px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5090 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u5091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5091 {
  position:absolute;
  left:15px;
  top:465px;
  width:15px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5092 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:45px;
  background:inherit;
  background-color:rgba(49, 191, 207, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5093 {
  position:absolute;
  left:256px;
  top:623px;
  width:119px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5094 {
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u5095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5095 {
  position:absolute;
  left:0px;
  top:626px;
  width:256px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5096 {
  position:absolute;
  left:0px;
  top:8px;
  width:256px;
  word-wrap:break-word;
}
#u5097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u5097 {
  position:absolute;
  left:319px;
  top:568px;
  width:44px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5098 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5099 {
  position:absolute;
  left:15px;
  top:293px;
  width:351px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5100 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u5101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:101px;
  background:inherit;
  background-color:rgba(106, 155, 152, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5101 {
  position:absolute;
  left:123px;
  top:98px;
  width:183px;
  height:101px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u5102 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u5103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5103 {
  position:absolute;
  left:14px;
  top:379px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5104 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5105 {
  position:absolute;
  left:307px;
  top:379px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u5106 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5107 {
  position:absolute;
  left:82px;
  top:420px;
  width:282px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5108 {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  white-space:nowrap;
}
#u5109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u5109 {
  position:absolute;
  left:408px;
  top:137px;
  width:299px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5110 {
  position:absolute;
  left:2px;
  top:4px;
  width:295px;
  word-wrap:break-word;
}
#u5111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5111 {
  position:absolute;
  left:408px;
  top:101px;
  width:80px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5112 {
  position:absolute;
  left:10px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u5113_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u5113 {
  position:absolute;
  left:367px;
  top:124px;
  width:17px;
  height:17px;
}
#u5114 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5115 {
  position:absolute;
  left:376px;
  top:124px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5115_seg0 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u5115_seg1 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:36px;
  height:8px;
}
#u5115_seg2 {
  position:absolute;
  left:19px;
  top:-20px;
  width:20px;
  height:20px;
}
#u5116 {
  position:absolute;
  left:-39px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u5117 {
  position:absolute;
  left:408px;
  top:308px;
  width:299px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5118 {
  position:absolute;
  left:2px;
  top:4px;
  width:295px;
  word-wrap:break-word;
}
#u5119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5119 {
  position:absolute;
  left:408px;
  top:272px;
  width:95px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5120 {
  position:absolute;
  left:10px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u5121_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u5121 {
  position:absolute;
  left:367px;
  top:295px;
  width:17px;
  height:17px;
}
#u5122 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5123 {
  position:absolute;
  left:376px;
  top:295px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5123_seg0 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u5123_seg1 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:36px;
  height:8px;
}
#u5123_seg2 {
  position:absolute;
  left:19px;
  top:-20px;
  width:20px;
  height:20px;
}
#u5124 {
  position:absolute;
  left:-39px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:36px;
}
#u5125 {
  position:absolute;
  left:408px;
  top:518px;
  width:143px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5126 {
  position:absolute;
  left:2px;
  top:8px;
  width:139px;
  word-wrap:break-word;
}
#u5127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5127 {
  position:absolute;
  left:408px;
  top:482px;
  width:171px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5128 {
  position:absolute;
  left:10px;
  top:2px;
  width:151px;
  word-wrap:break-word;
}
#u5129_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u5129 {
  position:absolute;
  left:367px;
  top:486px;
  width:17px;
  height:17px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5131 {
  position:absolute;
  left:384px;
  top:495px;
  width:0px;
  height:0px;
}
#u5131_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u5131_seg1 {
  position:absolute;
  left:11px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5132 {
  position:absolute;
  left:-38px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5133 {
  position:absolute;
  left:408px;
  top:400px;
  width:149px;
  height:32px;
}
#u5134 {
  position:absolute;
  left:10px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u5135 {
  position:absolute;
  left:188px;
  top:453px;
  width:176px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5136 {
  position:absolute;
  left:16px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u5135_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u5137 {
  position:absolute;
  left:0px;
  top:389px;
  width:341px;
  height:1px;
}
#u5138 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u5139 {
  position:absolute;
  left:38px;
  top:681px;
  width:276px;
  height:62px;
}
#u5140 {
  position:absolute;
  left:10px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
