body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2074px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:95px;
}
#u12328 {
  position:absolute;
  left:3px;
  top:0px;
  width:1225px;
  height:95px;
  font-size:16px;
}
#u12329 {
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  word-wrap:break-word;
}
#u12330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12330 {
  position:absolute;
  left:0px;
  top:126px;
  width:375px;
  height:667px;
}
#u12331 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12332 {
  position:absolute;
  left:1px;
  top:823px;
  width:375px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u12333 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u12334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12334 {
  position:absolute;
  left:0px;
  top:706px;
  width:375px;
  height:112px;
}
#u12335 {
  position:absolute;
  left:2px;
  top:48px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:43px;
  background:inherit;
  background-color:rgba(49, 191, 207, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12336 {
  position:absolute;
  left:249px;
  top:775px;
  width:126px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u12337 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u12338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12338 {
  position:absolute;
  left:6px;
  top:779px;
  width:153px;
  height:29px;
  text-align:center;
}
#u12339 {
  position:absolute;
  left:0px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u12340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12340 {
  position:absolute;
  left:13px;
  top:713px;
  width:50px;
  height:16px;
  font-size:13px;
}
#u12341 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u12342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u12342 {
  position:absolute;
  left:249px;
  top:712px;
  width:119px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u12343 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u12344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:86px;
}
#u12344 {
  position:absolute;
  left:385px;
  top:397px;
  width:301px;
  height:85px;
  text-align:left;
}
#u12345 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u12346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12346 {
  position:absolute;
  left:385px;
  top:361px;
  width:152px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12347 {
  position:absolute;
  left:10px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u12348 {
  position:absolute;
  left:385px;
  top:374px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u12348_seg0 {
  position:absolute;
  left:-34px;
  top:-4px;
  width:34px;
  height:8px;
}
#u12348_seg1 {
  position:absolute;
  left:-34px;
  top:-4px;
  width:8px;
  height:29px;
}
#u12348_seg2 {
  position:absolute;
  left:-40px;
  top:12px;
  width:20px;
  height:20px;
}
#u12349 {
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u12350 {
  position:absolute;
  left:1075px;
  top:541px;
  width:301px;
  height:29px;
  text-align:left;
}
#u12351 {
  position:absolute;
  left:2px;
  top:6px;
  width:297px;
  word-wrap:break-word;
}
#u12352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12352 {
  position:absolute;
  left:1075px;
  top:505px;
  width:152px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12353 {
  position:absolute;
  left:10px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u12354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:33px;
}
#u12354 {
  position:absolute;
  left:1773px;
  top:379px;
  width:301px;
  height:32px;
  text-align:left;
}
#u12355 {
  position:absolute;
  left:2px;
  top:8px;
  width:297px;
  word-wrap:break-word;
}
#u12356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12356 {
  position:absolute;
  left:1773px;
  top:343px;
  width:152px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12357 {
  position:absolute;
  left:10px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u12358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12358 {
  position:absolute;
  left:0px;
  top:894px;
  width:375px;
  height:667px;
}
#u12359 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12360 {
  position:absolute;
  left:390px;
  top:1131px;
  width:152px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12361 {
  position:absolute;
  left:10px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u12362 {
  position:absolute;
  left:390px;
  top:1144px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u12362_seg0 {
  position:absolute;
  left:-34px;
  top:-4px;
  width:34px;
  height:8px;
}
#u12362_seg1 {
  position:absolute;
  left:-34px;
  top:-4px;
  width:8px;
  height:29px;
}
#u12362_seg2 {
  position:absolute;
  left:-40px;
  top:12px;
  width:20px;
  height:20px;
}
#u12363 {
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12364 {
  position:absolute;
  left:0px;
  top:1561px;
  width:375px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u12365 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u12366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:36px;
}
#u12366 {
  position:absolute;
  left:390px;
  top:1167px;
  width:301px;
  height:35px;
  text-align:left;
}
#u12367 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  word-wrap:break-word;
}
#u12368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12368 {
  position:absolute;
  left:1386px;
  top:126px;
  width:375px;
  height:667px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12369 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:608px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12370 {
  position:absolute;
  left:1386px;
  top:185px;
  width:375px;
  height:608px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12371 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:26px;
}
#u12372 {
  position:absolute;
  left:1525px;
  top:149px;
  width:98px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12373 {
  position:absolute;
  left:2px;
  top:1px;
  width:94px;
  word-wrap:break-word;
}
#u12374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12374 {
  position:absolute;
  left:1401px;
  top:591px;
  width:15px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12375 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u12376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12376 {
  position:absolute;
  left:1399px;
  top:417px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12377 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12378 {
  position:absolute;
  left:1492px;
  top:419px;
  width:113px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12379 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12380 {
  position:absolute;
  left:1399px;
  top:381px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12381 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12382 {
  position:absolute;
  left:1492px;
  top:386px;
  width:99px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12383 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12384 {
  position:absolute;
  left:1399px;
  top:194px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12385 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12386 {
  position:absolute;
  left:1399px;
  top:251px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12387 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12388 {
  position:absolute;
  left:1654px;
  top:251px;
  width:99px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12389 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12390 {
  position:absolute;
  left:1473px;
  top:196px;
  width:100px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12391 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12390_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12392 {
  position:absolute;
  left:1559px;
  top:196px;
  width:100px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12393 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12392_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12394 {
  position:absolute;
  left:1649px;
  top:196px;
  width:100px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12395 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12394_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12396 {
  position:absolute;
  left:1473px;
  top:225px;
  width:100px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12397 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12396_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12398 {
  position:absolute;
  left:1558px;
  top:226px;
  width:100px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12399 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12398_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12400 {
  position:absolute;
  left:1649px;
  top:226px;
  width:100px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12401 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12400_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12402 {
  position:absolute;
  left:1404px;
  top:494px;
  width:91px;
  height:16px;
  text-align:center;
}
#u12403 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u12404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u12404 {
  position:absolute;
  left:1401px;
  top:614px;
  width:19px;
  height:19px;
}
#u12405 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12406 {
  position:absolute;
  left:1431px;
  top:539px;
  width:143px;
  height:16px;
}
#u12407 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u12408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12408 {
  position:absolute;
  left:1430px;
  top:575px;
  width:143px;
  height:16px;
}
#u12409 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u12410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12410 {
  position:absolute;
  left:1401px;
  top:576px;
  width:17px;
  height:17px;
}
#u12411 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12412 {
  position:absolute;
  left:1430px;
  top:614px;
  width:143px;
  height:16px;
}
#u12413 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u12414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12414 {
  position:absolute;
  left:1401px;
  top:538px;
  width:17px;
  height:17px;
}
#u12415 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u12416 {
  position:absolute;
  left:1531px;
  top:542px;
  width:111px;
  height:14px;
  font-size:11px;
  color:#CCCCCC;
}
#u12417 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u12418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u12418 {
  position:absolute;
  left:1540px;
  top:578px;
  width:67px;
  height:14px;
  font-size:11px;
  color:#CCCCCC;
}
#u12419 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u12420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u12420 {
  position:absolute;
  left:1528px;
  top:616px;
  width:133px;
  height:14px;
  font-size:11px;
  color:#CCCCCC;
}
#u12421 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u12422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(49, 191, 207, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12422 {
  position:absolute;
  left:1386px;
  top:750px;
  width:375px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u12423 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u12424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12424 {
  position:absolute;
  left:1497px;
  top:713px;
  width:153px;
  height:29px;
  text-align:center;
}
#u12425 {
  position:absolute;
  left:0px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u12426_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:20px;
}
#u12426 {
  position:absolute;
  left:1399px;
  top:497px;
  width:2px;
  height:17px;
}
#u12427 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12428 {
  position:absolute;
  left:1399px;
  top:345px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12429 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12430 {
  position:absolute;
  left:1492px;
  top:345px;
  width:127px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12431 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u12432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12432 {
  position:absolute;
  left:1386px;
  top:803px;
  width:375px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u12433 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u12434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:8px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12434 {
  position:absolute;
  left:1386px;
  top:478px;
  width:375px;
  height:8px;
}
#u12435 {
  position:absolute;
  left:2px;
  top:-4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:8px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12436 {
  position:absolute;
  left:1386px;
  top:327px;
  width:375px;
  height:8px;
}
#u12437 {
  position:absolute;
  left:2px;
  top:-4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u12438 {
  position:absolute;
  left:1493px;
  top:452px;
  width:121px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u12439 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u12440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12440 {
  position:absolute;
  left:1401px;
  top:452px;
  width:50px;
  height:16px;
  font-size:13px;
}
#u12441 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u12442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:45px;
}
#u12442 {
  position:absolute;
  left:1430px;
  top:640px;
  width:122px;
  height:45px;
}
#u12443 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u12444 {
  position:absolute;
  left:1480px;
  top:655px;
  width:22px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
#u12445 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u12446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:2px;
}
#u12446 {
  position:absolute;
  left:1430px;
  top:708px;
  width:325px;
  height:1px;
  color:#CCCCCC;
}
#u12447 {
  position:absolute;
  left:2px;
  top:-8px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u12448 {
  position:absolute;
  left:1430px;
  top:699px;
  width:1px;
  height:10px;
  color:#CCCCCC;
}
#u12449 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u12450 {
  position:absolute;
  left:1754px;
  top:699px;
  width:1px;
  height:10px;
  color:#CCCCCC;
}
#u12451 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u12452 {
  position:absolute;
  left:1436px;
  top:686px;
  width:287px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u12453 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u12454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u12454 {
  position:absolute;
  left:1399px;
  top:281px;
  width:354px;
  height:40px;
  color:#999999;
  text-align:left;
}
#u12455 {
  position:absolute;
  left:2px;
  top:2px;
  width:350px;
  word-wrap:break-word;
}
#u12456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u12456 {
  position:absolute;
  left:692px;
  top:126px;
  width:375px;
  height:667px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12457 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:749px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12458 {
  position:absolute;
  left:692px;
  top:183px;
  width:375px;
  height:749px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u12459 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:26px;
}
#u12460 {
  position:absolute;
  left:831px;
  top:149px;
  width:98px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12461 {
  position:absolute;
  left:2px;
  top:1px;
  width:94px;
  word-wrap:break-word;
}
#u12462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12462 {
  position:absolute;
  left:707px;
  top:743px;
  width:15px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u12463 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u12464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12464 {
  position:absolute;
  left:705px;
  top:586px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12465 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12466 {
  position:absolute;
  left:799px;
  top:586px;
  width:113px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12467 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12468 {
  position:absolute;
  left:705px;
  top:550px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12469 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12470 {
  position:absolute;
  left:799px;
  top:550px;
  width:99px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12471 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12472 {
  position:absolute;
  left:706px;
  top:412px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12473 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12474 {
  position:absolute;
  left:959px;
  top:412px;
  width:99px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12475 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12476 {
  position:absolute;
  left:705px;
  top:516px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12477 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12478 {
  position:absolute;
  left:802px;
  top:516px;
  width:127px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12479 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u12480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12480 {
  position:absolute;
  left:692px;
  top:938px;
  width:376px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u12481 {
  position:absolute;
  left:2px;
  top:10px;
  width:372px;
  word-wrap:break-word;
}
#u12482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12482 {
  position:absolute;
  left:708px;
  top:673px;
  width:91px;
  height:16px;
  text-align:center;
}
#u12483 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u12484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u12484 {
  position:absolute;
  left:705px;
  top:703px;
  width:19px;
  height:19px;
}
#u12485 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12486 {
  position:absolute;
  left:737px;
  top:705px;
  width:143px;
  height:16px;
}
#u12487 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u12488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12488 {
  position:absolute;
  left:736px;
  top:741px;
  width:143px;
  height:16px;
}
#u12489 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u12490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12490 {
  position:absolute;
  left:707px;
  top:744px;
  width:17px;
  height:17px;
}
#u12491 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12492 {
  position:absolute;
  left:736px;
  top:780px;
  width:143px;
  height:16px;
}
#u12493 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  word-wrap:break-word;
}
#u12494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u12494 {
  position:absolute;
  left:709px;
  top:782px;
  width:17px;
  height:17px;
}
#u12495 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u12496 {
  position:absolute;
  left:837px;
  top:708px;
  width:111px;
  height:14px;
  font-size:11px;
  color:#CCCCCC;
}
#u12497 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  white-space:nowrap;
}
#u12498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u12498 {
  position:absolute;
  left:846px;
  top:744px;
  width:67px;
  height:14px;
  font-size:11px;
  color:#CCCCCC;
}
#u12499 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u12500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#CCCCCC;
}
#u12500 {
  position:absolute;
  left:834px;
  top:782px;
  width:133px;
  height:14px;
  font-size:11px;
  color:#CCCCCC;
}
#u12501 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u12502_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:20px;
}
#u12502 {
  position:absolute;
  left:705px;
  top:676px;
  width:2px;
  height:17px;
}
#u12503 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u12504 {
  position:absolute;
  left:778px;
  top:453px;
  width:88px;
  height:14px;
  font-size:11px;
}
#u12505 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u12506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12506 {
  position:absolute;
  left:706px;
  top:449px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12507 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12508 {
  position:absolute;
  left:800px;
  top:845px;
  width:153px;
  height:29px;
  text-align:center;
}
#u12509 {
  position:absolute;
  left:0px;
  top:6px;
  width:153px;
  word-wrap:break-word;
}
#u12510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12510 {
  position:absolute;
  left:931px;
  top:450px;
  width:127px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u12511 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u12512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u12512 {
  position:absolute;
  left:706px;
  top:399px;
  width:355px;
  height:1px;
  color:#CCCCCC;
}
#u12513 {
  position:absolute;
  left:2px;
  top:-8px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u12514 {
  position:absolute;
  left:706px;
  top:390px;
  width:1px;
  height:10px;
  color:#CCCCCC;
}
#u12515 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u12516 {
  position:absolute;
  left:713px;
  top:377px;
  width:183px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u12517 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u12518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:8px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12518 {
  position:absolute;
  left:692px;
  top:494px;
  width:375px;
  height:8px;
}
#u12519 {
  position:absolute;
  left:2px;
  top:-4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:8px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12520 {
  position:absolute;
  left:692px;
  top:647px;
  width:375px;
  height:8px;
}
#u12521 {
  position:absolute;
  left:2px;
  top:-4px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u12522 {
  position:absolute;
  left:800px;
  top:617px;
  width:121px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u12523 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u12524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u12524 {
  position:absolute;
  left:708px;
  top:616px;
  width:50px;
  height:16px;
  font-size:13px;
}
#u12525 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u12526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12526 {
  position:absolute;
  left:708px;
  top:207px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u12527 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(49, 191, 207, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12528 {
  position:absolute;
  left:773px;
  top:207px;
  width:89px;
  height:28px;
}
#u12529 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u12530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12530 {
  position:absolute;
  left:876px;
  top:207px;
  width:89px;
  height:28px;
}
#u12531 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u12532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12532 {
  position:absolute;
  left:773px;
  top:293px;
  width:89px;
  height:28px;
}
#u12533 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u12534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:11px;
}
#u12534 {
  position:absolute;
  left:778px;
  top:216px;
  width:14px;
  height:11px;
}
#u12535 {
  position:absolute;
  left:2px;
  top:-2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12536 {
  position:absolute;
  left:980px;
  top:293px;
  width:78px;
  height:28px;
}
#u12537 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u12538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12538 {
  position:absolute;
  left:773px;
  top:334px;
  width:89px;
  height:28px;
}
#u12539 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u12540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12540 {
  position:absolute;
  left:876px;
  top:293px;
  width:89px;
  height:28px;
}
#u12541 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u12542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12542 {
  position:absolute;
  left:773px;
  top:249px;
  width:89px;
  height:28px;
}
#u12543 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u12544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12544 {
  position:absolute;
  left:979px;
  top:207px;
  width:78px;
  height:28px;
}
#u12545 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u12546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12546 {
  position:absolute;
  left:980px;
  top:249px;
  width:78px;
  height:28px;
}
#u12547 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u12548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12548 {
  position:absolute;
  left:876px;
  top:249px;
  width:89px;
  height:28px;
}
#u12549 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u12550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12550 {
  position:absolute;
  left:876px;
  top:334px;
  width:89px;
  height:28px;
}
#u12551 {
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u12552 {
  position:absolute;
  left:1075px;
  top:518px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u12552_seg0 {
  position:absolute;
  left:-139px;
  top:-4px;
  width:139px;
  height:8px;
}
#u12552_seg1 {
  position:absolute;
  left:-139px;
  top:-4px;
  width:8px;
  height:16px;
}
#u12552_seg2 {
  position:absolute;
  left:-146px;
  top:4px;
  width:15px;
  height:8px;
}
#u12552_seg3 {
  position:absolute;
  left:-153px;
  top:-2px;
  width:20px;
  height:20px;
}
#u12553 {
  position:absolute;
  left:-127px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12554 {
  position:absolute;
  left:1773px;
  top:356px;
  width:0px;
  height:0px;
  font-size:16px;
}
#u12554_seg0 {
  position:absolute;
  left:-142px;
  top:-4px;
  width:146px;
  height:8px;
}
#u12554_seg1 {
  position:absolute;
  left:-149px;
  top:-10px;
  width:20px;
  height:20px;
}
#u12555 {
  position:absolute;
  left:-121px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:43px;
  background:inherit;
  background-color:rgba(49, 191, 207, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12556 {
  position:absolute;
  left:897px;
  top:889px;
  width:171px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u12557 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u12558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:43px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12558 {
  position:absolute;
  left:692px;
  top:889px;
  width:182px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u12559 {
  position:absolute;
  left:2px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
