body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:630px;
}
#u54 {
  position:absolute;
  left:0px;
  top:62px;
  width:1105px;
  height:630px;
}
#u55 {
  position:absolute;
  left:2px;
  top:307px;
  width:1101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u56 {
  position:absolute;
  left:14px;
  top:22px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u57 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:659px;
  height:25px;
}
#u58 {
  position:absolute;
  left:104px;
  top:15px;
  width:658px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  white-space:nowrap;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u60 {
  position:absolute;
  left:758px;
  top:23px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u61 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u62 {
  position:absolute;
  left:14px;
  top:718px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u63 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:25px;
}
#u64 {
  position:absolute;
  left:104px;
  top:711px;
  width:537px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  white-space:nowrap;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u66 {
  position:absolute;
  left:673px;
  top:718px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:582px;
}
#u68 {
  position:absolute;
  left:0px;
  top:745px;
  width:1105px;
  height:582px;
}
#u69 {
  position:absolute;
  left:2px;
  top:283px;
  width:1101px;
  visibility:hidden;
  word-wrap:break-word;
}
