body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:571px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10131 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10132 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:36px;
}
#u10133 {
  position:absolute;
  left:398px;
  top:125px;
  width:173px;
  height:35px;
  text-align:left;
}
#u10134 {
  position:absolute;
  left:2px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u10135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u10135 {
  position:absolute;
  left:398px;
  top:89px;
  width:157px;
  height:26px;
  font-size:16px;
  color:#FFFFFF;
}
#u10136 {
  position:absolute;
  left:10px;
  top:4px;
  width:137px;
  word-wrap:break-word;
}
