body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1499px;
  height:1937px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1317 {
  position:absolute;
  left:1px;
  top:744px;
  width:1499px;
  height:1937px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:960px;
  width:1495px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:744px;
}
#u1319 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:744px;
  font-size:20px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:364px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:51px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#E1041D;
}
#u1321 {
  position:absolute;
  left:852px;
  top:250px;
  width:170px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#E1041D;
}
#u1322 {
  position:absolute;
  left:0px;
  top:9px;
  width:170px;
  word-wrap:break-word;
}
#u1323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:51px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#E1041D;
}
#u1323 {
  position:absolute;
  left:951px;
  top:288px;
  width:109px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#E1041D;
}
#u1324 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:94px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:39px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1328 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:30px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:7px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:64px;
}
#u1330 {
  position:absolute;
  left:81px;
  top:30px;
  width:327px;
  height:64px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1331 {
  position:absolute;
  left:2px;
  top:24px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1332 {
  position:absolute;
  left:1192px;
  top:2px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1333 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1334 {
  position:absolute;
  left:1282px;
  top:2px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u1336 {
  position:absolute;
  left:1254px;
  top:6px;
  width:1px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1337 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u1338 {
  position:absolute;
  left:1334px;
  top:6px;
  width:1px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1339 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1340 {
  position:absolute;
  left:1369px;
  top:2px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1341 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1342 {
  position:absolute;
  left:601px;
  top:51px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1343 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1344 {
  position:absolute;
  left:897px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1345 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1346 {
  position:absolute;
  left:1032px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1347 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1348 {
  position:absolute;
  left:1150px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1349 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u1350 {
  position:absolute;
  left:823px;
  top:39px;
  width:28px;
  height:16px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u1352 {
  position:absolute;
  left:827px;
  top:39px;
  width:20px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u1353 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u1354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u1354 {
  position:absolute;
  left:1214px;
  top:39px;
  width:28px;
  height:16px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u1356 {
  position:absolute;
  left:1218px;
  top:39px;
  width:20px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u1357 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1358 {
  position:absolute;
  left:757px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1359 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u1360 {
  position:absolute;
  left:134px;
  top:2px;
  width:105px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1362 {
  position:absolute;
  left:1286px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1364 {
  position:absolute;
  left:108px;
  top:5px;
  width:16px;
  height:16px;
}
#u1365 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u1366 {
  position:absolute;
  left:667px;
  top:39px;
  width:28px;
  height:16px;
}
#u1367 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u1368 {
  position:absolute;
  left:671px;
  top:39px;
  width:20px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u1369 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u1370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1370 {
  position:absolute;
  left:511px;
  top:51px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1371 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1372 {
  position:absolute;
  left:1410px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1373 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1374 {
  position:absolute;
  left:777px;
  top:143px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u1375 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:1299px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1376 {
  position:absolute;
  left:196px;
  top:602px;
  width:1184px;
  height:1299px;
}
#u1377 {
  position:absolute;
  left:2px;
  top:642px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#31BFCF;
}
#u1378 {
  position:absolute;
  left:749px;
  top:937px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#31BFCF;
}
#u1379 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u1380 {
  position:absolute;
  left:764px;
  top:1015px;
  width:50px;
  height:47px;
}
#u1381 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:47px;
}
#u1382 {
  position:absolute;
  left:379px;
  top:1015px;
  width:59px;
  height:47px;
}
#u1383 {
  position:absolute;
  left:2px;
  top:16px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1384 {
  position:absolute;
  left:309px;
  top:1085px;
  width:199px;
  height:39px;
  text-align:center;
}
#u1385 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u1386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1386 {
  position:absolute;
  left:701px;
  top:1085px;
  width:181px;
  height:34px;
  text-align:center;
}
#u1387 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u1388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:49px;
}
#u1388 {
  position:absolute;
  left:1130px;
  top:1013px;
  width:36px;
  height:49px;
}
#u1389 {
  position:absolute;
  left:2px;
  top:16px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u1390 {
  position:absolute;
  left:581px;
  top:1015px;
  width:50px;
  height:47px;
}
#u1391 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1392 {
  position:absolute;
  left:546px;
  top:1085px;
  width:121px;
  height:34px;
  text-align:center;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:47px;
}
#u1394 {
  position:absolute;
  left:946px;
  top:1015px;
  width:50px;
  height:47px;
}
#u1395 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1396 {
  position:absolute;
  left:923px;
  top:1085px;
  width:97px;
  height:34px;
  text-align:center;
}
#u1397 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1398 {
  position:absolute;
  left:1046px;
  top:1085px;
  width:205px;
  height:34px;
  text-align:center;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
#u1400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1183px;
  height:113px;
}
#u1400 {
  position:absolute;
  left:197px;
  top:1151px;
  width:1183px;
  height:113px;
}
#u1401 {
  position:absolute;
  left:2px;
  top:48px;
  width:1179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1183px;
  height:179px;
}
#u1402 {
  position:absolute;
  left:197px;
  top:1267px;
  width:1183px;
  height:179px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:82px;
  width:1179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:863px;
}
#u1404 {
  position:absolute;
  left:197px;
  top:1446px;
  width:1182px;
  height:863px;
}
#u1405 {
  position:absolute;
  left:2px;
  top:424px;
  width:1178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:377px;
}
#u1406 {
  position:absolute;
  left:196px;
  top:2304px;
  width:1182px;
  height:377px;
}
#u1407 {
  position:absolute;
  left:2px;
  top:180px;
  width:1178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#31BFCF;
}
#u1408 {
  position:absolute;
  left:748px;
  top:614px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#31BFCF;
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1092px;
  height:234px;
}
#u1410 {
  position:absolute;
  left:243px;
  top:664px;
  width:1092px;
  height:234px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:109px;
  width:1088px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1412 {
  position:absolute;
  left:1253px;
  top:550px;
  width:127px;
  height:36px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:10px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:32px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1414 {
  position:absolute;
  left:753px;
  top:1379px;
  width:72px;
  height:32px;
  text-align:center;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(248, 248, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1416 {
  position:absolute;
  left:501px;
  top:1379px;
  width:85px;
  height:32px;
  text-align:center;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:117px;
  background:inherit;
  background-color:rgba(226, 224, 225, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1418 {
  position:absolute;
  left:991px;
  top:1310px;
  width:99px;
  height:117px;
  text-align:center;
}
#u1419 {
  position:absolute;
  left:0px;
  top:50px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1420 {
  position:absolute;
  left:1035px;
  top:265px;
  width:113px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:51px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#E1041D;
}
#u1422 {
  position:absolute;
  left:1265px;
  top:246px;
  width:109px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#E1041D;
}
#u1423 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424 {
  position:absolute;
  left:753px;
  top:183px;
}
#u1424_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1424_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:142px;
}
#u1425 {
  position:absolute;
  left:0px;
  top:34px;
  width:630px;
  height:142px;
}
#u1426 {
  position:absolute;
  left:2px;
  top:63px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:206px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1427 {
  position:absolute;
  left:0px;
  top:73px;
  width:630px;
  height:206px;
}
#u1428 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u1429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:2px;
}
#u1429 {
  position:absolute;
  left:219px;
  top:91px;
  width:46px;
  height:1px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:-8px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1431 {
  position:absolute;
  left:80px;
  top:245px;
  width:71px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u1433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#DD2446;
}
#u1433 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:34px;
  font-size:12px;
  color:#DD2446;
}
#u1434 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u1435 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1436 {
  position:absolute;
  left:80px;
  top:162px;
  width:173px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1437 {
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1438 {
  position:absolute;
  left:84px;
  top:165px;
  width:135px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1439 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u1440 {
  position:absolute;
  left:229px;
  top:172px;
  width:15px;
  height:8px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1442 {
  position:absolute;
  left:9px;
  top:167px;
  width:58px;
  height:15px;
  font-size:12px;
}
#u1443 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1444 {
  position:absolute;
  left:80px;
  top:204px;
  width:104px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1445 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1446 {
  position:absolute;
  left:194px;
  top:204px;
  width:93px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u1448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1448 {
  position:absolute;
  left:8px;
  top:245px;
  width:71px;
  height:16px;
}
#u1449 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1450 {
  position:absolute;
  left:9px;
  top:204px;
  width:71px;
  height:16px;
}
#u1451 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1452 {
  position:absolute;
  left:9px;
  top:84px;
  width:58px;
  height:15px;
  font-size:12px;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u1454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1454 {
  position:absolute;
  left:558px;
  top:84px;
  width:59px;
  height:32px;
}
#u1455 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u1456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:25px;
  background:inherit;
  background-color:rgba(221, 36, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1456 {
  position:absolute;
  left:33px;
  top:37px;
  width:75px;
  height:25px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1457 {
  position:absolute;
  left:0px;
  top:3px;
  width:75px;
  word-wrap:break-word;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1458 {
  position:absolute;
  left:80px;
  top:119px;
  width:146px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  word-wrap:break-word;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1460 {
  position:absolute;
  left:9px;
  top:119px;
  width:67px;
  height:16px;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(251, 106, 95, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1462 {
  position:absolute;
  left:835px;
  top:493px;
  width:113px;
  height:32px;
  font-size:14px;
}
#u1463 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(1, 191, 205, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1464 {
  position:absolute;
  left:980px;
  top:493px;
  width:113px;
  height:32px;
  font-size:14px;
}
#u1465 {
  position:absolute;
  left:2px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u1466 {
  position:absolute;
  left:835px;
  top:493px;
  width:113px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1467 {
  position:absolute;
  left:835px;
  top:373px;
  visibility:hidden;
}
#u1467_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1467_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:258px;
}
#u1468 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:258px;
}
#u1469 {
  position:absolute;
  left:2px;
  top:121px;
  width:439px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470 {
  position:absolute;
  left:82px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1471 {
  position:absolute;
  left:20px;
  top:11px;
  width:57px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1472 {
  position:absolute;
  left:170px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1473 {
  position:absolute;
  left:213px;
  top:131px;
  width:40px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1474 {
  position:absolute;
  left:401px;
  top:0px;
  width:42px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1467_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1467_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:190px;
}
#u1475 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:190px;
}
#u1476 {
  position:absolute;
  left:2px;
  top:87px;
  width:443px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477 {
  position:absolute;
  left:82px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1478 {
  position:absolute;
  left:20px;
  top:11px;
  width:57px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1479 {
  position:absolute;
  left:170px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1480 {
  position:absolute;
  left:126px;
  top:43px;
  width:46px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1481 {
  position:absolute;
  left:404px;
  top:0px;
  width:42px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1467_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1467_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:120px;
}
#u1482 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:120px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:52px;
  width:437px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484 {
  position:absolute;
  left:85px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1485 {
  position:absolute;
  left:20px;
  top:11px;
  width:57px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1486 {
  position:absolute;
  left:170px;
  top:11px;
  width:67px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1487 {
  position:absolute;
  left:123px;
  top:43px;
  width:43px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1488 {
  position:absolute;
  left:399px;
  top:0px;
  width:42px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:61px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1489 {
  position:absolute;
  left:1529px;
  top:73px;
  width:142px;
  height:61px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1490 {
  position:absolute;
  left:10px;
  top:17px;
  width:122px;
  word-wrap:break-word;
}
#u1491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:225px;
}
#u1491 {
  position:absolute;
  left:1529px;
  top:156px;
  width:953px;
  height:224px;
  text-align:left;
}
#u1492 {
  position:absolute;
  left:2px;
  top:2px;
  width:949px;
  word-wrap:break-word;
}
