body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:826px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u46 {
  position:absolute;
  left:8px;
  top:20px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u47 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
}
#u48 {
  position:absolute;
  left:98px;
  top:13px;
  width:243px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u50 {
  position:absolute;
  left:342px;
  top:23px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u51 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:414px;
}
#u52 {
  position:absolute;
  left:8px;
  top:48px;
  width:818px;
  height:414px;
}
#u53 {
  position:absolute;
  left:2px;
  top:199px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u54 {
  position:absolute;
  left:8px;
  top:484px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u55 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:25px;
}
#u56 {
  position:absolute;
  left:98px;
  top:477px;
  width:351px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u58 {
  position:absolute;
  left:445px;
  top:487px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u59 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:386px;
}
#u60 {
  position:absolute;
  left:8px;
  top:951px;
  width:818px;
  height:386px;
}
#u61 {
  position:absolute;
  left:2px;
  top:185px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u62 {
  position:absolute;
  left:8px;
  top:921px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u63 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:25px;
}
#u64 {
  position:absolute;
  left:98px;
  top:914px;
  width:501px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  white-space:nowrap;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u66 {
  position:absolute;
  left:580px;
  top:923px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u67 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:378px;
}
#u68 {
  position:absolute;
  left:8px;
  top:511px;
  width:818px;
  height:378px;
}
#u69 {
  position:absolute;
  left:2px;
  top:181px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
