body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:826px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u0 {
  position:absolute;
  left:8px;
  top:20px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
}
#u2 {
  position:absolute;
  left:98px;
  top:13px;
  width:243px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u4 {
  position:absolute;
  left:342px;
  top:23px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:414px;
}
#u6 {
  position:absolute;
  left:8px;
  top:48px;
  width:818px;
  height:414px;
}
#u7 {
  position:absolute;
  left:2px;
  top:199px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u8 {
  position:absolute;
  left:8px;
  top:484px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:25px;
}
#u10 {
  position:absolute;
  left:98px;
  top:477px;
  width:351px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u12 {
  position:absolute;
  left:445px;
  top:487px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u13 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:386px;
}
#u14 {
  position:absolute;
  left:8px;
  top:951px;
  width:818px;
  height:386px;
}
#u15 {
  position:absolute;
  left:2px;
  top:185px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u16 {
  position:absolute;
  left:8px;
  top:921px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u17 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:25px;
}
#u18 {
  position:absolute;
  left:98px;
  top:914px;
  width:501px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  white-space:nowrap;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u20 {
  position:absolute;
  left:580px;
  top:923px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:378px;
}
#u22 {
  position:absolute;
  left:8px;
  top:511px;
  width:818px;
  height:378px;
}
#u23 {
  position:absolute;
  left:2px;
  top:181px;
  width:814px;
  visibility:hidden;
  word-wrap:break-word;
}
