body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:816px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2040 {
  position:absolute;
  left:0px;
  top:97px;
  width:1500px;
  height:816px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:400px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2042 {
  position:absolute;
  left:670px;
  top:126px;
  width:228px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1429px;
  height:701px;
}
#u2044 {
  position:absolute;
  left:55px;
  top:188px;
  width:1429px;
  height:701px;
  font-size:16px;
}
#u2045 {
  position:absolute;
  left:0px;
  top:0px;
  width:1429px;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:94px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:39px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:30px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:7px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:64px;
}
#u2051 {
  position:absolute;
  left:81px;
  top:30px;
  width:327px;
  height:64px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2052 {
  position:absolute;
  left:2px;
  top:24px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2053 {
  position:absolute;
  left:1192px;
  top:2px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2054 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2055 {
  position:absolute;
  left:1282px;
  top:2px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2056 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u2057 {
  position:absolute;
  left:1254px;
  top:6px;
  width:1px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2058 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u2059 {
  position:absolute;
  left:1334px;
  top:6px;
  width:1px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2060 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2061 {
  position:absolute;
  left:1369px;
  top:2px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2062 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2063 {
  position:absolute;
  left:586px;
  top:50px;
  width:37px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2065 {
  position:absolute;
  left:847px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2067 {
  position:absolute;
  left:1005px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2069 {
  position:absolute;
  left:1148px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2071 {
  position:absolute;
  left:1405px;
  top:50px;
  width:91px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u2073 {
  position:absolute;
  left:770px;
  top:39px;
  width:28px;
  height:16px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u2075 {
  position:absolute;
  left:774px;
  top:39px;
  width:20px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
}
#u2077 {
  position:absolute;
  left:1212px;
  top:39px;
  width:28px;
  height:16px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:0px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u2079 {
  position:absolute;
  left:1216px;
  top:39px;
  width:20px;
  height:12px;
  font-size:9px;
  color:#FFFFFF;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2081 {
  position:absolute;
  left:704px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#999999;
}
#u2083 {
  position:absolute;
  left:134px;
  top:2px;
  width:105px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2085 {
  position:absolute;
  left:1286px;
  top:50px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u2087 {
  position:absolute;
  left:108px;
  top:5px;
  width:16px;
  height:16px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
