body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2472px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:673px;
}
#u10079 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:673px;
}
#u10080 {
  position:absolute;
  left:2px;
  top:328px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u10081 {
  position:absolute;
  left:0px;
  top:685px;
  width:375px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u10082 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u10083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u10083 {
  position:absolute;
  left:428px;
  top:741px;
  width:375px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u10084 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u10085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:728px;
}
#u10085 {
  position:absolute;
  left:428px;
  top:0px;
  width:376px;
  height:728px;
}
#u10086 {
  position:absolute;
  left:2px;
  top:356px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10087 {
  position:absolute;
  left:848px;
  top:0px;
  width:375px;
  height:667px;
}
#u10088 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u10089 {
  position:absolute;
  left:847px;
  top:685px;
  width:376px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u10090 {
  position:absolute;
  left:2px;
  top:10px;
  width:372px;
  word-wrap:break-word;
}
#u10091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:720px;
}
#u10091 {
  position:absolute;
  left:1256px;
  top:0px;
  width:375px;
  height:720px;
}
#u10092 {
  position:absolute;
  left:2px;
  top:352px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u10093 {
  position:absolute;
  left:1256px;
  top:741px;
  width:375px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u10094 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u10095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10095 {
  position:absolute;
  left:1688px;
  top:0px;
  width:375px;
  height:667px;
}
#u10096 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u10097 {
  position:absolute;
  left:1688px;
  top:685px;
  width:375px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u10098 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u10099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:672px;
}
#u10099 {
  position:absolute;
  left:2097px;
  top:0px;
  width:373px;
  height:672px;
}
#u10100 {
  position:absolute;
  left:2px;
  top:328px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u10101 {
  position:absolute;
  left:2097px;
  top:682px;
  width:375px;
  height:43px;
  font-size:18px;
  color:#FFFFFF;
}
#u10102 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u10103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u10103 {
  position:absolute;
  left:1276px;
  top:206px;
  width:61px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
}
#u10104 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
