body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1235px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  height:171px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6936 {
  position:absolute;
  left:22px;
  top:202px;
  width:1213px;
  height:171px;
  font-size:16px;
}
#u6937 {
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  word-wrap:break-word;
}
#u6938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  height:727px;
}
#u6938 {
  position:absolute;
  left:22px;
  top:405px;
  width:1213px;
  height:727px;
  font-size:10px;
}
#u6939 {
  position:absolute;
  left:2px;
  top:356px;
  width:1209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u6940 {
  position:absolute;
  left:1101px;
  top:959px;
  width:31px;
  height:13px;
  font-size:10px;
}
#u6941 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u6942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u6942 {
  position:absolute;
  left:1101px;
  top:980px;
  width:31px;
  height:13px;
  font-size:10px;
}
#u6943 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u6944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u6944 {
  position:absolute;
  left:1101px;
  top:1002px;
  width:31px;
  height:13px;
  font-size:10px;
}
#u6945 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u6946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  height:22px;
}
#u6946 {
  position:absolute;
  left:22px;
  top:20px;
  width:1213px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u6947 {
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  word-wrap:break-word;
}
#u6948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
}
#u6948 {
  position:absolute;
  left:22px;
  top:69px;
  width:300px;
  height:66px;
  font-size:18px;
}
#u6949 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  height:22px;
}
#u6950 {
  position:absolute;
  left:22px;
  top:163px;
  width:1213px;
  height:22px;
  font-size:18px;
  color:#FF0000;
}
#u6951 {
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  word-wrap:break-word;
}
