body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2198px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1754px;
  height:1052px;
}
#u6861 {
  position:absolute;
  left:0px;
  top:0px;
  width:1754px;
  height:1052px;
}
#u6862 {
  position:absolute;
  left:2px;
  top:518px;
  width:1750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:145px;
}
#u6863 {
  position:absolute;
  left:1776px;
  top:196px;
  width:422px;
  height:144px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u6864 {
  position:absolute;
  left:2px;
  top:6px;
  width:418px;
  word-wrap:break-word;
}
#u6865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6865 {
  position:absolute;
  left:1561px;
  top:772px;
  width:31px;
  height:16px;
}
#u6866 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u6867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6867 {
  position:absolute;
  left:1560px;
  top:804px;
  width:31px;
  height:16px;
}
#u6868 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u6869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6869 {
  position:absolute;
  left:1560px;
  top:834px;
  width:31px;
  height:16px;
}
#u6870 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
