body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2535px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1866px;
  height:943px;
}
#u2731 {
  position:absolute;
  left:0px;
  top:0px;
  width:1866px;
  height:943px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2732 {
  position:absolute;
  left:2px;
  top:464px;
  width:1862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1866px;
  height:1062px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2733 {
  position:absolute;
  left:0px;
  top:99px;
  width:1866px;
  height:1062px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2734 {
  position:absolute;
  left:2px;
  top:507px;
  width:1862px;
  word-wrap:break-word;
}
#u2735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2735 {
  position:absolute;
  left:1461px;
  top:67px;
  width:115px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2736 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u2737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:56px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2737 {
  position:absolute;
  left:770px;
  top:623px;
  width:204px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2738 {
  position:absolute;
  left:2px;
  top:16px;
  width:200px;
  word-wrap:break-word;
}
#u2739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u2739 {
  position:absolute;
  left:848px;
  top:179px;
  width:41px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2740 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2741 {
  position:absolute;
  left:403px;
  top:128px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2742 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2743_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:381px;
  height:9px;
}
#u2743 {
  position:absolute;
  left:472px;
  top:197px;
  width:376px;
  height:4px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2744 {
  position:absolute;
  left:2px;
  top:-6px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2745_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2745 {
  position:absolute;
  left:427px;
  top:174px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2746 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u2747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2747 {
  position:absolute;
  left:844px;
  top:128px;
  width:49px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2748 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2749 {
  position:absolute;
  left:1265px;
  top:174px;
  width:50px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2750 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  word-wrap:break-word;
}
#u2751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2751 {
  position:absolute;
  left:1242px;
  top:128px;
  width:97px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2752 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2753_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:169px;
  height:9px;
}
#u2753 {
  position:absolute;
  left:1101px;
  top:197px;
  width:164px;
  height:4px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2754 {
  position:absolute;
  left:2px;
  top:-6px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1866px;
  height:241px;
}
#u2755 {
  position:absolute;
  left:0px;
  top:920px;
  width:1866px;
  height:241px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2756 {
  position:absolute;
  left:2px;
  top:112px;
  width:1862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:664px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2757 {
  position:absolute;
  left:345px;
  top:246px;
  width:1038px;
  height:664px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2758 {
  position:absolute;
  left:2px;
  top:324px;
  width:1034px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2759 {
  position:absolute;
  left:553px;
  top:326px;
  width:635px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2760 {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  white-space:nowrap;
}
#u2761_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:217px;
  height:9px;
}
#u2761 {
  position:absolute;
  left:889px;
  top:197px;
  width:212px;
  height:4px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2762 {
  position:absolute;
  left:2px;
  top:-6px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2763 {
  position:absolute;
  left:753px;
  top:408px;
  width:239px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2764 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u2765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:109px;
}
#u2765 {
  position:absolute;
  left:649px;
  top:524px;
  width:227px;
  height:109px;
}
#u2766 {
  position:absolute;
  left:2px;
  top:46px;
  width:223px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:35px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2767 {
  position:absolute;
  left:693px;
  top:670px;
  width:139px;
  height:35px;
  font-size:16px;
}
#u2768 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  word-wrap:break-word;
}
#u2769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2769 {
  position:absolute;
  left:961px;
  top:674px;
  width:121px;
  height:24px;
  font-size:20px;
}
#u2770 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:115px;
}
#u2771 {
  position:absolute;
  left:964px;
  top:524px;
  width:113px;
  height:115px;
}
#u2772 {
  position:absolute;
  left:2px;
  top:50px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:75px;
}
#u2773 {
  position:absolute;
  left:1893px;
  top:380px;
  width:642px;
  height:74px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2774 {
  position:absolute;
  left:2px;
  top:10px;
  width:638px;
  word-wrap:break-word;
}
#u2775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:44px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2775 {
  position:absolute;
  left:1893px;
  top:326px;
  width:171px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2776 {
  position:absolute;
  left:10px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u2777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:642px;
  height:216px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2777 {
  position:absolute;
  left:0px;
  top:1316px;
  width:642px;
  height:216px;
}
#u2778 {
  position:absolute;
  left:2px;
  top:100px;
  width:638px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:54px;
}
#u2779 {
  position:absolute;
  left:89px;
  top:1370px;
  width:494px;
  height:54px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u2780 {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u2781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2781 {
  position:absolute;
  left:142px;
  top:1461px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u2782 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2783 {
  position:absolute;
  left:351px;
  top:1461px;
  width:140px;
  height:40px;
  font-size:18px;
}
#u2784 {
  position:absolute;
  left:2px;
  top:9px;
  width:136px;
  word-wrap:break-word;
}
#u2785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2785 {
  position:absolute;
  left:26px;
  top:1332px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u2786 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2787 {
  position:absolute;
  left:602px;
  top:1332px;
  width:21px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2788 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:75px;
}
#u2789 {
  position:absolute;
  left:671px;
  top:1370px;
  width:695px;
  height:74px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2790 {
  position:absolute;
  left:2px;
  top:10px;
  width:691px;
  word-wrap:break-word;
}
#u2791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2791 {
  position:absolute;
  left:671px;
  top:1316px;
  width:81px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2792 {
  position:absolute;
  left:10px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u2793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:75px;
}
#u2793 {
  position:absolute;
  left:671px;
  top:1508px;
  width:695px;
  height:74px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2794 {
  position:absolute;
  left:2px;
  top:10px;
  width:691px;
  word-wrap:break-word;
}
#u2795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:44px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2795 {
  position:absolute;
  left:671px;
  top:1454px;
  width:168px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2796 {
  position:absolute;
  left:10px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u2797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:696px;
  height:75px;
}
#u2797 {
  position:absolute;
  left:671px;
  top:1646px;
  width:695px;
  height:74px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2798 {
  position:absolute;
  left:2px;
  top:10px;
  width:691px;
  word-wrap:break-word;
}
#u2799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:44px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2799 {
  position:absolute;
  left:671px;
  top:1592px;
  width:168px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2800 {
  position:absolute;
  left:10px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u2801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:643px;
  height:51px;
}
#u2801 {
  position:absolute;
  left:1893px;
  top:559px;
  width:642px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2802 {
  position:absolute;
  left:2px;
  top:12px;
  width:638px;
  word-wrap:break-word;
}
#u2803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:44px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2803 {
  position:absolute;
  left:1893px;
  top:505px;
  width:171px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2804 {
  position:absolute;
  left:10px;
  top:8px;
  width:151px;
  word-wrap:break-word;
}
#u2806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u2806 {
  position:absolute;
  left:0px;
  top:1233px;
  width:150px;
  height:50px;
}
#u2807 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2808 {
  position:absolute;
  left:34px;
  top:1245px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2809 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2810 {
  position:absolute;
  left:1217px;
  top:67px;
  width:115px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2811 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u2812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2812 {
  position:absolute;
  left:1534px;
  top:67px;
  width:115px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2813 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u2814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2814 {
  position:absolute;
  left:1423px;
  top:67px;
  width:115px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2815 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u2816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2816 {
  position:absolute;
  left:1324px;
  top:67px;
  width:115px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2817 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u2818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2818 {
  position:absolute;
  left:1570px;
  top:17px;
  width:201px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2819 {
  position:absolute;
  left:2px;
  top:2px;
  width:197px;
  word-wrap:break-word;
}
