body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:369px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:657px;
}
#u404 {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:657px;
}
#u405 {
  position:absolute;
  left:2px;
  top:320px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
