body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8649 {
  position:absolute;
  left:20px;
  top:10px;
  width:1205px;
  height:343px;
}
#u8650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:23px;
}
#u8650 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:23px;
}
#u8651 {
  position:absolute;
  left:2px;
  top:4px;
  width:100px;
  word-wrap:break-word;
}
#u8652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:23px;
}
#u8652 {
  position:absolute;
  left:104px;
  top:0px;
  width:215px;
  height:23px;
}
#u8653 {
  position:absolute;
  left:2px;
  top:4px;
  width:211px;
  word-wrap:break-word;
}
#u8654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:23px;
}
#u8654 {
  position:absolute;
  left:319px;
  top:0px;
  width:346px;
  height:23px;
}
#u8655 {
  position:absolute;
  left:2px;
  top:4px;
  width:342px;
  word-wrap:break-word;
}
#u8656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:23px;
}
#u8656 {
  position:absolute;
  left:665px;
  top:0px;
  width:332px;
  height:23px;
}
#u8657 {
  position:absolute;
  left:2px;
  top:4px;
  width:328px;
  word-wrap:break-word;
}
#u8658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:23px;
}
#u8658 {
  position:absolute;
  left:997px;
  top:0px;
  width:103px;
  height:23px;
}
#u8659 {
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u8660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:23px;
}
#u8660 {
  position:absolute;
  left:1100px;
  top:0px;
  width:100px;
  height:23px;
}
#u8661 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u8662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:69px;
}
#u8662 {
  position:absolute;
  left:0px;
  top:23px;
  width:104px;
  height:69px;
}
#u8663 {
  position:absolute;
  left:2px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u8664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:69px;
}
#u8664 {
  position:absolute;
  left:104px;
  top:23px;
  width:215px;
  height:69px;
  font-size:16px;
}
#u8665 {
  position:absolute;
  left:2px;
  top:25px;
  width:211px;
  word-wrap:break-word;
}
#u8666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:69px;
}
#u8666 {
  position:absolute;
  left:319px;
  top:23px;
  width:346px;
  height:69px;
  text-align:left;
}
#u8667 {
  position:absolute;
  left:2px;
  top:18px;
  width:342px;
  word-wrap:break-word;
}
#u8668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:69px;
}
#u8668 {
  position:absolute;
  left:665px;
  top:23px;
  width:332px;
  height:69px;
}
#u8669 {
  position:absolute;
  left:2px;
  top:26px;
  width:328px;
  word-wrap:break-word;
}
#u8670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:69px;
}
#u8670 {
  position:absolute;
  left:997px;
  top:23px;
  width:103px;
  height:69px;
}
#u8671 {
  position:absolute;
  left:2px;
  top:26px;
  width:99px;
  word-wrap:break-word;
}
#u8672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:69px;
}
#u8672 {
  position:absolute;
  left:1100px;
  top:23px;
  width:100px;
  height:69px;
}
#u8673 {
  position:absolute;
  left:2px;
  top:26px;
  width:96px;
  word-wrap:break-word;
}
#u8674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:137px;
}
#u8674 {
  position:absolute;
  left:0px;
  top:92px;
  width:104px;
  height:137px;
}
#u8675 {
  position:absolute;
  left:2px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:137px;
}
#u8676 {
  position:absolute;
  left:104px;
  top:92px;
  width:215px;
  height:137px;
  font-size:16px;
}
#u8677 {
  position:absolute;
  left:2px;
  top:59px;
  width:211px;
  word-wrap:break-word;
}
#u8678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:137px;
}
#u8678 {
  position:absolute;
  left:319px;
  top:92px;
  width:346px;
  height:137px;
  text-align:left;
}
#u8679 {
  position:absolute;
  left:2px;
  top:20px;
  width:342px;
  word-wrap:break-word;
}
#u8680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:137px;
}
#u8680 {
  position:absolute;
  left:665px;
  top:92px;
  width:332px;
  height:137px;
}
#u8681 {
  position:absolute;
  left:2px;
  top:60px;
  width:328px;
  word-wrap:break-word;
}
#u8682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:137px;
}
#u8682 {
  position:absolute;
  left:997px;
  top:92px;
  width:103px;
  height:137px;
}
#u8683 {
  position:absolute;
  left:2px;
  top:60px;
  width:99px;
  word-wrap:break-word;
}
#u8684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:137px;
}
#u8684 {
  position:absolute;
  left:1100px;
  top:92px;
  width:100px;
  height:137px;
}
#u8685 {
  position:absolute;
  left:2px;
  top:60px;
  width:96px;
  word-wrap:break-word;
}
#u8686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:109px;
}
#u8686 {
  position:absolute;
  left:0px;
  top:229px;
  width:104px;
  height:109px;
}
#u8687 {
  position:absolute;
  left:2px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:109px;
}
#u8688 {
  position:absolute;
  left:104px;
  top:229px;
  width:215px;
  height:109px;
  font-size:16px;
}
#u8689 {
  position:absolute;
  left:2px;
  top:45px;
  width:211px;
  word-wrap:break-word;
}
#u8690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:109px;
}
#u8690 {
  position:absolute;
  left:319px;
  top:229px;
  width:346px;
  height:109px;
  text-align:left;
}
#u8691 {
  position:absolute;
  left:2px;
  top:14px;
  width:342px;
  word-wrap:break-word;
}
#u8692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:109px;
}
#u8692 {
  position:absolute;
  left:665px;
  top:229px;
  width:332px;
  height:109px;
}
#u8693 {
  position:absolute;
  left:2px;
  top:46px;
  width:328px;
  word-wrap:break-word;
}
#u8694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:109px;
}
#u8694 {
  position:absolute;
  left:997px;
  top:229px;
  width:103px;
  height:109px;
}
#u8695 {
  position:absolute;
  left:2px;
  top:46px;
  width:99px;
  word-wrap:break-word;
}
#u8696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:109px;
}
#u8696 {
  position:absolute;
  left:1100px;
  top:229px;
  width:100px;
  height:109px;
}
#u8697 {
  position:absolute;
  left:2px;
  top:46px;
  width:96px;
  word-wrap:break-word;
}
