body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u955 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
}
#u956 {
  position:absolute;
  left:56px;
  top:464px;
  width:52px;
  height:19px;
}
#u957 {
  position:absolute;
  left:2px;
  top:2px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:16px;
}
#u958 {
  position:absolute;
  left:118px;
  top:466px;
  width:170px;
  height:16px;
  color:#FFFFFF;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
