body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4633 {
  position:absolute;
  left:1px;
  top:0px;
  width:375px;
  height:667px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4634 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:567px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4635 {
  position:absolute;
  left:1px;
  top:59px;
  width:375px;
  height:567px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4636 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  word-wrap:break-word;
}
#u4637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:212px;
}
#u4637 {
  position:absolute;
  left:0px;
  top:59px;
  width:376px;
  height:212px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4638 {
  position:absolute;
  left:2px;
  top:98px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u4639 {
  position:absolute;
  left:151px;
  top:24px;
  width:90px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4640 {
  position:absolute;
  left:2px;
  top:1px;
  width:86px;
  word-wrap:break-word;
}
#u4641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4641 {
  position:absolute;
  left:13px;
  top:376px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4642 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4643 {
  position:absolute;
  left:226px;
  top:375px;
  width:141px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4644 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4645 {
  position:absolute;
  left:16px;
  top:534px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4646 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4647 {
  position:absolute;
  left:309px;
  top:536px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4648 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4649 {
  position:absolute;
  left:16px;
  top:465px;
  width:15px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4650 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u4651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4651 {
  position:absolute;
  left:13px;
  top:419px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4652 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4653 {
  position:absolute;
  left:274px;
  top:417px;
  width:90px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u4654 {
  position:absolute;
  left:2px;
  top:4px;
  width:86px;
  word-wrap:break-word;
}
#u4655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:45px;
  background:inherit;
  background-color:rgba(49, 191, 207, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4655 {
  position:absolute;
  left:281px;
  top:623px;
  width:95px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4656 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u4657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4657 {
  position:absolute;
  left:0px;
  top:622px;
  width:281px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u4658 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
#u4659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:32px;
}
#u4659 {
  position:absolute;
  left:13px;
  top:327px;
  width:363px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4660 {
  position:absolute;
  left:2px;
  top:8px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:215px;
}
#u4661 {
  position:absolute;
  left:5px;
  top:58px;
  width:371px;
  height:215px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4662 {
  position:absolute;
  left:2px;
  top:100px;
  width:367px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:111px;
  background:inherit;
  background-color:rgba(106, 155, 152, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4663 {
  position:absolute;
  left:131px;
  top:95px;
  width:183px;
  height:111px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u4664 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u4665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4665 {
  position:absolute;
  left:15px;
  top:293px;
  width:351px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u4666 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u4667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u4667 {
  position:absolute;
  left:408px;
  top:137px;
  width:299px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4668 {
  position:absolute;
  left:2px;
  top:4px;
  width:295px;
  word-wrap:break-word;
}
#u4669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4669 {
  position:absolute;
  left:408px;
  top:101px;
  width:80px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4670 {
  position:absolute;
  left:10px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u4671_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u4671 {
  position:absolute;
  left:367px;
  top:124px;
  width:17px;
  height:17px;
}
#u4672 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4673 {
  position:absolute;
  left:376px;
  top:124px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4673_seg0 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:8px;
  height:14px;
}
#u4673_seg1 {
  position:absolute;
  left:-4px;
  top:-14px;
  width:36px;
  height:8px;
}
#u4673_seg2 {
  position:absolute;
  left:19px;
  top:-20px;
  width:20px;
  height:20px;
}
#u4674 {
  position:absolute;
  left:-39px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u4675 {
  position:absolute;
  left:408px;
  top:238px;
  width:299px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4676 {
  position:absolute;
  left:2px;
  top:4px;
  width:295px;
  word-wrap:break-word;
}
#u4677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4677 {
  position:absolute;
  left:408px;
  top:202px;
  width:95px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4678 {
  position:absolute;
  left:10px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u4679_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u4679 {
  position:absolute;
  left:367px;
  top:295px;
  width:17px;
  height:17px;
}
#u4680 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4681 {
  position:absolute;
  left:384px;
  top:304px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4681_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u4681_seg1 {
  position:absolute;
  left:8px;
  top:-93px;
  width:8px;
  height:97px;
}
#u4681_seg2 {
  position:absolute;
  left:8px;
  top:-93px;
  width:16px;
  height:8px;
}
#u4681_seg3 {
  position:absolute;
  left:11px;
  top:-99px;
  width:20px;
  height:20px;
}
#u4682 {
  position:absolute;
  left:-38px;
  top:-52px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:48px;
}
#u4683 {
  position:absolute;
  left:411px;
  top:332px;
  width:299px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4684 {
  position:absolute;
  left:2px;
  top:4px;
  width:295px;
  word-wrap:break-word;
}
#u4685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4685 {
  position:absolute;
  left:411px;
  top:296px;
  width:95px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4686 {
  position:absolute;
  left:10px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u4687_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u4687 {
  position:absolute;
  left:359px;
  top:387px;
  width:17px;
  height:17px;
}
#u4688 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4689 {
  position:absolute;
  left:376px;
  top:396px;
  width:0px;
  height:0px;
}
#u4689_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u4689_seg1 {
  position:absolute;
  left:16px;
  top:-91px;
  width:8px;
  height:95px;
}
#u4689_seg2 {
  position:absolute;
  left:16px;
  top:-91px;
  width:19px;
  height:8px;
}
#u4689_seg3 {
  position:absolute;
  left:22px;
  top:-97px;
  width:20px;
  height:20px;
}
#u4690 {
  position:absolute;
  left:-30px;
  top:-49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4691 {
  position:absolute;
  left:411px;
  top:462px;
  width:95px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4692 {
  position:absolute;
  left:10px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u4693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:82px;
}
#u4693 {
  position:absolute;
  left:411px;
  top:498px;
  width:299px;
  height:81px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4694 {
  position:absolute;
  left:2px;
  top:2px;
  width:295px;
  word-wrap:break-word;
}
#u4695_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u4695 {
  position:absolute;
  left:349px;
  top:498px;
  width:17px;
  height:17px;
}
#u4696 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4697 {
  position:absolute;
  left:366px;
  top:507px;
  width:0px;
  height:0px;
}
#u4697_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u4697_seg1 {
  position:absolute;
  left:30px;
  top:-36px;
  width:8px;
  height:40px;
}
#u4697_seg2 {
  position:absolute;
  left:30px;
  top:-36px;
  width:15px;
  height:8px;
}
#u4697_seg3 {
  position:absolute;
  left:32px;
  top:-42px;
  width:20px;
  height:20px;
}
#u4698 {
  position:absolute;
  left:-16px;
  top:-12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4699 {
  position:absolute;
  left:13px;
  top:461px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4700 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(49, 191, 207, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#31BFCF;
}
#u4701 {
  position:absolute;
  left:118px;
  top:458px;
  width:130px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#31BFCF;
}
#u4702 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  word-wrap:break-word;
}
#u4703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(49, 191, 207, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#31BFCF;
}
#u4703 {
  position:absolute;
  left:258px;
  top:458px;
  width:105px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#31BFCF;
}
#u4704 {
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u4705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(49, 191, 207, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#31BFCF;
}
#u4705 {
  position:absolute;
  left:118px;
  top:495px;
  width:105px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#31BFCF;
}
#u4706 {
  position:absolute;
  left:2px;
  top:4px;
  width:101px;
  word-wrap:break-word;
}
#u4707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4707 {
  position:absolute;
  left:411px;
  top:384px;
  width:95px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4708 {
  position:absolute;
  left:10px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u4709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
}
#u4709 {
  position:absolute;
  left:411px;
  top:420px;
  width:299px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4710 {
  position:absolute;
  left:2px;
  top:6px;
  width:295px;
  word-wrap:break-word;
}
#u4711_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u4711 {
  position:absolute;
  left:359px;
  top:417px;
  width:17px;
  height:17px;
}
#u4712 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4713 {
  position:absolute;
  left:376px;
  top:426px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4713_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:28px;
  height:8px;
}
#u4713_seg1 {
  position:absolute;
  left:20px;
  top:-33px;
  width:8px;
  height:37px;
}
#u4713_seg2 {
  position:absolute;
  left:20px;
  top:-33px;
  width:15px;
  height:8px;
}
#u4713_seg3 {
  position:absolute;
  left:22px;
  top:-39px;
  width:20px;
  height:20px;
}
#u4714 {
  position:absolute;
  left:-26px;
  top:-16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u4715 {
  position:absolute;
  left:320px;
  top:568px;
  width:44px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4716 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u4717 {
  position:absolute;
  left:411px;
  top:589px;
  width:77px;
  height:26px;
  font-size:16px;
  color:#FFFFFF;
}
#u4718 {
  position:absolute;
  left:10px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
#u4719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u4719 {
  position:absolute;
  left:38px;
  top:681px;
  width:276px;
  height:127px;
}
#u4720 {
  position:absolute;
  left:10px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u4721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u4721 {
  position:absolute;
  left:16px;
  top:544px;
  width:341px;
  height:1px;
}
#u4722 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
}
#u4723 {
  position:absolute;
  left:411px;
  top:636px;
  width:139px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4724 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  word-wrap:break-word;
}
