body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:4234px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7398 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7399 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7400 {
  position:absolute;
  left:2606px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7401 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7402 {
  position:absolute;
  left:3484px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7403 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1412px;
}
#u7404 {
  position:absolute;
  left:880px;
  top:0px;
  width:750px;
  height:1412px;
}
#u7405 {
  position:absolute;
  left:2px;
  top:698px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7406 {
  position:absolute;
  left:1732px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7407 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
