body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:4234px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7321 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7322 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7323 {
  position:absolute;
  left:2606px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7324 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7325 {
  position:absolute;
  left:3484px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7326 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1412px;
}
#u7327 {
  position:absolute;
  left:880px;
  top:0px;
  width:750px;
  height:1412px;
}
#u7328 {
  position:absolute;
  left:2px;
  top:698px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7329 {
  position:absolute;
  left:1732px;
  top:0px;
  width:750px;
  height:1373px;
}
#u7330 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
