body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2706px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1906px;
  height:907px;
}
#u3848 {
  position:absolute;
  left:0px;
  top:0px;
  width:1906px;
  height:907px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:446px;
  width:1902px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:807px;
}
#u3850 {
  position:absolute;
  left:1949px;
  top:377px;
  width:757px;
  height:806px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3851 {
  position:absolute;
  left:2px;
  top:19px;
  width:753px;
  word-wrap:break-word;
}
#u3852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:36px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3852 {
  position:absolute;
  left:1949px;
  top:323px;
  width:143px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3853 {
  position:absolute;
  left:10px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u3854_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u3854 {
  position:absolute;
  left:860px;
  top:456px;
  width:17px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3855 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3856 {
  position:absolute;
  left:877px;
  top:465px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3856_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1045px;
  height:8px;
}
#u3856_seg1 {
  position:absolute;
  left:1037px;
  top:-128px;
  width:8px;
  height:132px;
}
#u3856_seg2 {
  position:absolute;
  left:1037px;
  top:-128px;
  width:36px;
  height:8px;
}
#u3856_seg3 {
  position:absolute;
  left:1059px;
  top:-134px;
  width:20px;
  height:20px;
}
#u3857 {
  position:absolute;
  left:548px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3859 {
  position:absolute;
  left:0px;
  top:998px;
  width:150px;
  height:50px;
}
#u3860 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3861 {
  position:absolute;
  left:34px;
  top:1010px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3862 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:24px;
}
#u3863 {
  position:absolute;
  left:52px;
  top:1069px;
  width:492px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3864 {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  white-space:nowrap;
}
#u3865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:168px;
}
#u3865 {
  position:absolute;
  left:498px;
  top:1193px;
  width:742px;
  height:168px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3866 {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  word-wrap:break-word;
}
#u3867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:275px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3867 {
  position:absolute;
  left:52px;
  top:1149px;
  width:394px;
  height:275px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
#u3868 {
  position:absolute;
  left:2px;
  top:6px;
  width:390px;
  word-wrap:break-word;
}
#u3869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:139px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(204, 204, 204, 0.349019607843137);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3869 {
  position:absolute;
  left:975px;
  top:476px;
  width:261px;
  height:139px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u3870 {
  position:absolute;
  left:2px;
  top:10px;
  width:257px;
  word-wrap:break-word;
}
#u3871 {
  position:absolute;
  left:1056px;
  top:444px;
  width:97px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:208px;
}
#u3872 {
  position:absolute;
  left:52px;
  top:1463px;
  width:761px;
  height:207px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  text-align:left;
}
#u3873 {
  position:absolute;
  left:2px;
  top:8px;
  width:757px;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:234px;
}
#u3874 {
  position:absolute;
  left:1949px;
  top:66px;
  width:605px;
  height:233px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u3875 {
  position:absolute;
  left:2px;
  top:8px;
  width:601px;
  word-wrap:break-word;
}
#u3876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3876 {
  position:absolute;
  left:1949px;
  top:12px;
  width:57px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3877 {
  position:absolute;
  left:10px;
  top:6px;
  width:37px;
  white-space:nowrap;
}
#u3878_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u3878 {
  position:absolute;
  left:732px;
  top:190px;
  width:17px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3879 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3880 {
  position:absolute;
  left:749px;
  top:199px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3880_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1185px;
  height:8px;
}
#u3880_seg1 {
  position:absolute;
  left:1177px;
  top:-173px;
  width:8px;
  height:177px;
}
#u3880_seg2 {
  position:absolute;
  left:1177px;
  top:-173px;
  width:23px;
  height:8px;
}
#u3880_seg3 {
  position:absolute;
  left:1187px;
  top:-179px;
  width:20px;
  height:20px;
}
#u3881 {
  position:absolute;
  left:634px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:646px;
  height:241px;
}
#u3882 {
  position:absolute;
  left:1949px;
  top:1247px;
  width:645px;
  height:240px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:18px;
  color:#000000;
  text-align:left;
}
#u3883 {
  position:absolute;
  left:2px;
  top:0px;
  width:641px;
  word-wrap:break-word;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3884 {
  position:absolute;
  left:1949px;
  top:1193px;
  width:57px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3885 {
  position:absolute;
  left:10px;
  top:6px;
  width:37px;
  white-space:nowrap;
}
#u3886_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u3886 {
  position:absolute;
  left:1863px;
  top:568px;
  width:17px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3887 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3888 {
  position:absolute;
  left:1880px;
  top:577px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3888_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u3888_seg1 {
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:642px;
}
#u3888_seg2 {
  position:absolute;
  left:46px;
  top:630px;
  width:23px;
  height:8px;
}
#u3888_seg3 {
  position:absolute;
  left:56px;
  top:624px;
  width:20px;
  height:20px;
}
#u3889 {
  position:absolute;
  left:0px;
  top:294px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3890 {
  position:absolute;
  left:574px;
  top:451px;
  width:127px;
  height:16px;
}
#u3891 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3892 {
  position:absolute;
  left:722px;
  top:412px;
  width:128px;
  height:108px;
}
#u3893 {
  position:absolute;
  left:0px;
  top:30px;
  width:128px;
  word-wrap:break-word;
}
#u3894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3894 {
  position:absolute;
  left:598px;
  top:570px;
  width:57px;
  height:16px;
}
#u3895 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3896 {
  position:absolute;
  left:722px;
  top:530px;
  width:128px;
  height:108px;
}
#u3897 {
  position:absolute;
  left:0px;
  top:30px;
  width:128px;
  word-wrap:break-word;
}
#u3898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3898 {
  position:absolute;
  left:573px;
  top:693px;
  width:127px;
  height:16px;
}
#u3899 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3900 {
  position:absolute;
  left:722px;
  top:648px;
  width:128px;
  height:108px;
}
#u3901 {
  position:absolute;
  left:0px;
  top:46px;
  width:128px;
  word-wrap:break-word;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3902 {
  position:absolute;
  left:577px;
  top:812px;
  width:99px;
  height:16px;
}
#u3903 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:141px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3904 {
  position:absolute;
  left:722px;
  top:752px;
  width:128px;
  height:141px;
}
#u3905 {
  position:absolute;
  left:0px;
  top:62px;
  width:128px;
  word-wrap:break-word;
}
#u3906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:450px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3906 {
  position:absolute;
  left:546px;
  top:412px;
  width:314px;
  height:450px;
}
#u3907 {
  position:absolute;
  left:2px;
  top:217px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:36px;
  background:inherit;
  background-color:rgba(49, 191, 207, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u3908 {
  position:absolute;
  left:52px;
  top:1113px;
  width:394px;
  height:36px;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u3909 {
  position:absolute;
  left:2px;
  top:7px;
  width:390px;
  word-wrap:break-word;
}
