body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:961px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u38 {
  position:absolute;
  left:14px;
  top:22px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u39 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:25px;
}
#u40 {
  position:absolute;
  left:104px;
  top:15px;
  width:475px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  white-space:nowrap;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u42 {
  position:absolute;
  left:572px;
  top:22px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u43 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:511px;
}
#u44 {
  position:absolute;
  left:14px;
  top:49px;
  width:947px;
  height:511px;
}
#u45 {
  position:absolute;
  left:2px;
  top:248px;
  width:943px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:431px;
}
#u46 {
  position:absolute;
  left:14px;
  top:637px;
  width:947px;
  height:431px;
}
#u47 {
  position:absolute;
  left:2px;
  top:208px;
  width:943px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u48 {
  position:absolute;
  left:14px;
  top:590px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u49 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:25px;
}
#u50 {
  position:absolute;
  left:104px;
  top:583px;
  width:529px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  white-space:nowrap;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u52 {
  position:absolute;
  left:620px;
  top:590px;
  width:79px;
  height:1px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u53 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
