body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u16983 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u16984 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:16px;
}
#u16985 {
  position:absolute;
  left:400px;
  top:30px;
  width:477px;
  height:16px;
}
#u16986 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  word-wrap:break-word;
}
