body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:5602px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5602px;
  height:2944px;
}
#u3110 {
  position:absolute;
  left:0px;
  top:0px;
  width:5602px;
  height:2944px;
}
#u3111 {
  position:absolute;
  left:2px;
  top:1464px;
  width:5598px;
  visibility:hidden;
  word-wrap:break-word;
}
