body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:936px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:1058px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2624 {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:1058px;
}
#u2625 {
  position:absolute;
  left:2px;
  top:521px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u2626 {
  position:absolute;
  left:390px;
  top:68px;
  width:157px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u2627 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:49px;
}
#u2628 {
  position:absolute;
  left:11px;
  top:8px;
  width:315px;
  height:49px;
}
#u2629 {
  position:absolute;
  left:2px;
  top:16px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2630 {
  position:absolute;
  left:21px;
  top:123px;
  width:896px;
  height:97px;
  font-size:13px;
}
#u2631 {
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  word-wrap:break-word;
}
#u2632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:243px;
}
#u2632 {
  position:absolute;
  left:21px;
  top:238px;
  width:616px;
  height:243px;
}
#u2633 {
  position:absolute;
  left:2px;
  top:114px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2634_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:346px;
}
#u2634 {
  position:absolute;
  left:21px;
  top:491px;
  width:892px;
  height:346px;
}
#u2635 {
  position:absolute;
  left:2px;
  top:165px;
  width:888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:88px;
}
#u2636 {
  position:absolute;
  left:21px;
  top:869px;
  width:622px;
  height:88px;
}
#u2637 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  word-wrap:break-word;
}
#u2638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:67px;
}
#u2638 {
  position:absolute;
  left:21px;
  top:969px;
  width:64px;
  height:67px;
}
#u2639 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:188px;
}
#u2640 {
  position:absolute;
  left:647px;
  top:266px;
  width:270px;
  height:188px;
}
#u2641 {
  position:absolute;
  left:2px;
  top:86px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2642 {
  position:absolute;
  left:753px;
  top:18px;
  width:164px;
  height:16px;
}
#u2643 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
