body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:936px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:1001px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2091 {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:1001px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:492px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u2093 {
  position:absolute;
  left:390px;
  top:68px;
  width:157px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:49px;
}
#u2095 {
  position:absolute;
  left:11px;
  top:8px;
  width:315px;
  height:49px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:16px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2097 {
  position:absolute;
  left:65px;
  top:128px;
  width:768px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2098 {
  position:absolute;
  left:0px;
  top:0px;
  width:768px;
  white-space:nowrap;
}
#u2099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:278px;
}
#u2099 {
  position:absolute;
  left:65px;
  top:212px;
  width:756px;
  height:278px;
}
#u2100 {
  position:absolute;
  left:2px;
  top:131px;
  width:752px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:472px;
}
#u2101 {
  position:absolute;
  left:217px;
  top:507px;
  width:516px;
  height:472px;
}
#u2102 {
  position:absolute;
  left:2px;
  top:228px;
  width:512px;
  visibility:hidden;
  word-wrap:break-word;
}
