body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:936px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:1058px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2664 {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:1058px;
}
#u2665 {
  position:absolute;
  left:2px;
  top:521px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u2666 {
  position:absolute;
  left:390px;
  top:68px;
  width:157px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
#u2667 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u2668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:49px;
}
#u2668 {
  position:absolute;
  left:11px;
  top:8px;
  width:315px;
  height:49px;
}
#u2669 {
  position:absolute;
  left:2px;
  top:16px;
  width:311px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2670 {
  position:absolute;
  left:21px;
  top:123px;
  width:896px;
  height:97px;
  font-size:13px;
}
#u2671 {
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  word-wrap:break-word;
}
#u2672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:243px;
}
#u2672 {
  position:absolute;
  left:21px;
  top:238px;
  width:616px;
  height:243px;
}
#u2673 {
  position:absolute;
  left:2px;
  top:114px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:346px;
}
#u2674 {
  position:absolute;
  left:21px;
  top:491px;
  width:892px;
  height:346px;
}
#u2675 {
  position:absolute;
  left:2px;
  top:165px;
  width:888px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:88px;
}
#u2676 {
  position:absolute;
  left:21px;
  top:869px;
  width:622px;
  height:88px;
}
#u2677 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  word-wrap:break-word;
}
#u2678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:67px;
}
#u2678 {
  position:absolute;
  left:21px;
  top:969px;
  width:64px;
  height:67px;
}
#u2679 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:188px;
}
#u2680 {
  position:absolute;
  left:647px;
  top:266px;
  width:270px;
  height:188px;
}
#u2681 {
  position:absolute;
  left:2px;
  top:86px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2682 {
  position:absolute;
  left:753px;
  top:18px;
  width:164px;
  height:16px;
}
#u2683 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
