body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:3217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2928 {
  position:absolute;
  left:1893px;
  top:169px;
  width:269px;
  height:46px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:15px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2930 {
  position:absolute;
  left:1893px;
  top:293px;
  width:503px;
  height:251px;
}
#u2931 {
  position:absolute;
  left:2px;
  top:118px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2932 {
  position:absolute;
  left:2361px;
  top:307px;
  width:17px;
  height:17px;
}
#u2933 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1866px;
  height:943px;
}
#u2934 {
  position:absolute;
  left:0px;
  top:0px;
  width:1866px;
  height:943px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2935 {
  position:absolute;
  left:2px;
  top:464px;
  width:1862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1866px;
  height:1062px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2936 {
  position:absolute;
  left:0px;
  top:99px;
  width:1866px;
  height:1062px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:507px;
  width:1862px;
  word-wrap:break-word;
}
#u2938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2938 {
  position:absolute;
  left:1461px;
  top:67px;
  width:115px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u2940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#31BFCF;
}
#u2940 {
  position:absolute;
  left:1340px;
  top:67px;
  width:216px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#31BFCF;
}
#u2941 {
  position:absolute;
  left:2px;
  top:4px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1866px;
  height:241px;
}
#u2942 {
  position:absolute;
  left:0px;
  top:920px;
  width:1866px;
  height:241px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2943 {
  position:absolute;
  left:2px;
  top:112px;
  width:1862px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2944 {
  position:absolute;
  left:59px;
  top:293px;
  width:158px;
  height:256px;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:75px;
}
#u2945 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:75px;
  font-size:20px;
}
#u2946 {
  position:absolute;
  left:2px;
  top:26px;
  width:149px;
  word-wrap:break-word;
}
#u2947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:88px;
}
#u2947 {
  position:absolute;
  left:0px;
  top:75px;
  width:153px;
  height:88px;
  font-size:20px;
}
#u2948 {
  position:absolute;
  left:2px;
  top:32px;
  width:149px;
  word-wrap:break-word;
}
#u2949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:88px;
}
#u2949 {
  position:absolute;
  left:0px;
  top:163px;
  width:153px;
  height:88px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2950 {
  position:absolute;
  left:2px;
  top:32px;
  width:149px;
  word-wrap:break-word;
}
#u2951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1556px;
  height:711px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2951 {
  position:absolute;
  left:281px;
  top:140px;
  width:1556px;
  height:711px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2952 {
  position:absolute;
  left:2px;
  top:348px;
  width:1552px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2953 {
  position:absolute;
  left:323px;
  top:167px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u2954 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:100px;
}
#u2955 {
  position:absolute;
  left:87px;
  top:167px;
  width:104px;
  height:100px;
}
#u2956 {
  position:absolute;
  left:2px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2957 {
  position:absolute;
  left:495px;
  top:310px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2958 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2959 {
  position:absolute;
  left:509px;
  top:263px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2960 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2961 {
  position:absolute;
  left:574px;
  top:263px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2962 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u2963 {
  position:absolute;
  left:622px;
  top:260px;
  width:28px;
  height:27px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2965 {
  position:absolute;
  left:574px;
  top:310px;
  width:100px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2966 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u2967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2967 {
  position:absolute;
  left:384px;
  top:229px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2968 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2969 {
  position:absolute;
  left:695px;
  top:308px;
  width:67px;
  height:27px;
}
#u2970 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u2971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2971 {
  position:absolute;
  left:384px;
  top:414px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2972 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2973 {
  position:absolute;
  left:2049px;
  top:367px;
  width:261px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2974 {
  position:absolute;
  left:2px;
  top:8px;
  width:257px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2975 {
  position:absolute;
  left:1917px;
  top:372px;
  width:129px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2976 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2977 {
  position:absolute;
  left:2049px;
  top:420px;
  width:152px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2978 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u2979 {
  position:absolute;
  left:1978px;
  top:425px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u2980 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2981 {
  position:absolute;
  left:2211px;
  top:420px;
  width:99px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2982 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u2983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2983 {
  position:absolute;
  left:2072px;
  top:318px;
  width:145px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2984 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2985 {
  position:absolute;
  left:2049px;
  top:488px;
  width:103px;
  height:25px;
}
#u2986 {
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u2987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2987 {
  position:absolute;
  left:2193px;
  top:488px;
  width:103px;
  height:25px;
}
#u2988 {
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u2989_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:29px;
}
#u2989 {
  position:absolute;
  left:772px;
  top:316px;
  width:19px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2990 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:44px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2991 {
  position:absolute;
  left:1893px;
  top:229px;
  width:233px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u2992 {
  position:absolute;
  left:10px;
  top:8px;
  width:213px;
  word-wrap:break-word;
}
#u2993 {
  position:absolute;
  left:791px;
  top:326px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2993_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1003px;
  height:8px;
}
#u2993_seg1 {
  position:absolute;
  left:995px;
  top:-79px;
  width:8px;
  height:83px;
}
#u2993_seg2 {
  position:absolute;
  left:995px;
  top:-79px;
  width:107px;
  height:8px;
}
#u2993_seg3 {
  position:absolute;
  left:1089px;
  top:-85px;
  width:20px;
  height:20px;
}
#u2994 {
  position:absolute;
  left:538px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2995 {
  position:absolute;
  left:495px;
  top:414px;
  width:67px;
  height:27px;
}
#u2996 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u2997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2997 {
  position:absolute;
  left:495px;
  top:462px;
  width:421px;
  height:57px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u2998 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u2999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2999 {
  position:absolute;
  left:1893px;
  top:616px;
  width:503px;
  height:310px;
}
#u3000 {
  position:absolute;
  left:2px;
  top:147px;
  width:499px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u3001 {
  position:absolute;
  left:2361px;
  top:630px;
  width:17px;
  height:17px;
}
#u3002 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3003 {
  position:absolute;
  left:2112px;
  top:643px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3004 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3005 {
  position:absolute;
  left:2049px;
  top:859px;
  width:103px;
  height:25px;
}
#u3006 {
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u3007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3007 {
  position:absolute;
  left:2193px;
  top:859px;
  width:103px;
  height:25px;
}
#u3008 {
  position:absolute;
  left:2px;
  top:4px;
  width:99px;
  word-wrap:break-word;
}
#u3009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3009 {
  position:absolute;
  left:2086px;
  top:743px;
  width:210px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3010 {
  position:absolute;
  left:2px;
  top:6px;
  width:206px;
  word-wrap:break-word;
}
#u3011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3011 {
  position:absolute;
  left:2005px;
  top:749px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3012 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3013 {
  position:absolute;
  left:2086px;
  top:802px;
  width:210px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3014 {
  position:absolute;
  left:2px;
  top:6px;
  width:206px;
  word-wrap:break-word;
}
#u3015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3015 {
  position:absolute;
  left:1993px;
  top:807px;
  width:81px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3016 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3017 {
  position:absolute;
  left:2084px;
  top:686px;
  width:210px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3018 {
  position:absolute;
  left:2px;
  top:6px;
  width:206px;
  word-wrap:break-word;
}
#u3019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3019 {
  position:absolute;
  left:2003px;
  top:692px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3020 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3021_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:29px;
}
#u3021 {
  position:absolute;
  left:594px;
  top:418px;
  width:19px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3022 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3023 {
  position:absolute;
  left:613px;
  top:428px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3023_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:1271px;
  height:8px;
}
#u3023_seg1 {
  position:absolute;
  left:1263px;
  top:-4px;
  width:8px;
  height:156px;
}
#u3023_seg2 {
  position:absolute;
  left:1263px;
  top:144px;
  width:17px;
  height:8px;
}
#u3023_seg3 {
  position:absolute;
  left:1267px;
  top:138px;
  width:20px;
  height:20px;
}
#u3024 {
  position:absolute;
  left:664px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:44px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3025 {
  position:absolute;
  left:1893px;
  top:554px;
  width:269px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3026 {
  position:absolute;
  left:10px;
  top:8px;
  width:249px;
  word-wrap:break-word;
}
#u3027 {
  position:absolute;
  left:2459px;
  top:344px;
  width:726px;
  height:244px;
}
#u3028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u3028 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3029 {
  position:absolute;
  left:2px;
  top:4px;
  width:268px;
  word-wrap:break-word;
}
#u3030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:30px;
}
#u3030 {
  position:absolute;
  left:272px;
  top:0px;
  width:449px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3031 {
  position:absolute;
  left:2px;
  top:4px;
  width:445px;
  word-wrap:break-word;
}
#u3032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:47px;
}
#u3032 {
  position:absolute;
  left:0px;
  top:30px;
  width:272px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3033 {
  position:absolute;
  left:2px;
  top:13px;
  width:268px;
  word-wrap:break-word;
}
#u3034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:47px;
}
#u3034 {
  position:absolute;
  left:272px;
  top:30px;
  width:449px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3035 {
  position:absolute;
  left:2px;
  top:13px;
  width:445px;
  word-wrap:break-word;
}
#u3036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:50px;
}
#u3036 {
  position:absolute;
  left:0px;
  top:77px;
  width:272px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3037 {
  position:absolute;
  left:2px;
  top:14px;
  width:268px;
  word-wrap:break-word;
}
#u3038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:50px;
}
#u3038 {
  position:absolute;
  left:272px;
  top:77px;
  width:449px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3039 {
  position:absolute;
  left:2px;
  top:14px;
  width:445px;
  word-wrap:break-word;
}
#u3040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:46px;
}
#u3040 {
  position:absolute;
  left:0px;
  top:127px;
  width:272px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3041 {
  position:absolute;
  left:2px;
  top:12px;
  width:268px;
  word-wrap:break-word;
}
#u3042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:46px;
}
#u3042 {
  position:absolute;
  left:272px;
  top:127px;
  width:449px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3043 {
  position:absolute;
  left:2px;
  top:12px;
  width:445px;
  word-wrap:break-word;
}
#u3044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:66px;
}
#u3044 {
  position:absolute;
  left:0px;
  top:173px;
  width:272px;
  height:66px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3045 {
  position:absolute;
  left:2px;
  top:12px;
  width:268px;
  word-wrap:break-word;
}
#u3046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:66px;
}
#u3046 {
  position:absolute;
  left:272px;
  top:173px;
  width:449px;
  height:66px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3047 {
  position:absolute;
  left:2px;
  top:22px;
  width:445px;
  word-wrap:break-word;
}
#u3048 {
  position:absolute;
  left:2459px;
  top:673px;
  width:726px;
  height:251px;
}
#u3049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u3049 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3050 {
  position:absolute;
  left:2px;
  top:4px;
  width:268px;
  word-wrap:break-word;
}
#u3051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:30px;
}
#u3051 {
  position:absolute;
  left:272px;
  top:0px;
  width:449px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3052 {
  position:absolute;
  left:2px;
  top:4px;
  width:445px;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:34px;
}
#u3053 {
  position:absolute;
  left:0px;
  top:30px;
  width:272px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3054 {
  position:absolute;
  left:2px;
  top:6px;
  width:268px;
  word-wrap:break-word;
}
#u3055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:34px;
}
#u3055 {
  position:absolute;
  left:272px;
  top:30px;
  width:449px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3056 {
  position:absolute;
  left:2px;
  top:6px;
  width:445px;
  word-wrap:break-word;
}
#u3057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:62px;
}
#u3057 {
  position:absolute;
  left:0px;
  top:64px;
  width:272px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3058 {
  position:absolute;
  left:2px;
  top:10px;
  width:268px;
  word-wrap:break-word;
}
#u3059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:62px;
}
#u3059 {
  position:absolute;
  left:272px;
  top:64px;
  width:449px;
  height:62px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3060 {
  position:absolute;
  left:2px;
  top:20px;
  width:445px;
  word-wrap:break-word;
}
#u3061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:38px;
}
#u3061 {
  position:absolute;
  left:0px;
  top:126px;
  width:272px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3062 {
  position:absolute;
  left:2px;
  top:8px;
  width:268px;
  word-wrap:break-word;
}
#u3063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:38px;
}
#u3063 {
  position:absolute;
  left:272px;
  top:126px;
  width:449px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3064 {
  position:absolute;
  left:2px;
  top:8px;
  width:445px;
  word-wrap:break-word;
}
#u3065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:39px;
}
#u3065 {
  position:absolute;
  left:0px;
  top:164px;
  width:272px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3066 {
  position:absolute;
  left:2px;
  top:9px;
  width:268px;
  word-wrap:break-word;
}
#u3067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:39px;
}
#u3067 {
  position:absolute;
  left:272px;
  top:164px;
  width:449px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3068 {
  position:absolute;
  left:2px;
  top:9px;
  width:445px;
  word-wrap:break-word;
}
#u3069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:43px;
}
#u3069 {
  position:absolute;
  left:0px;
  top:203px;
  width:272px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3070 {
  position:absolute;
  left:2px;
  top:11px;
  width:268px;
  word-wrap:break-word;
}
#u3071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:43px;
}
#u3071 {
  position:absolute;
  left:272px;
  top:203px;
  width:449px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3072 {
  position:absolute;
  left:2px;
  top:11px;
  width:445px;
  word-wrap:break-word;
}
#u3073_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:29px;
  height:29px;
}
#u3073 {
  position:absolute;
  left:650px;
  top:264px;
  width:19px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3074 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:73px;
}
#u3075 {
  position:absolute;
  left:1893px;
  top:87px;
  width:444px;
  height:72px;
  font-size:16px;
  text-align:left;
}
#u3076 {
  position:absolute;
  left:2px;
  top:8px;
  width:440px;
  word-wrap:break-word;
}
#u3077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:44px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3077 {
  position:absolute;
  left:1893px;
  top:36px;
  width:150px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u3078 {
  position:absolute;
  left:10px;
  top:8px;
  width:130px;
  word-wrap:break-word;
}
#u3079 {
  position:absolute;
  left:660px;
  top:264px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3079_seg0 {
  position:absolute;
  left:-4px;
  top:-96px;
  width:8px;
  height:96px;
}
#u3079_seg1 {
  position:absolute;
  left:-4px;
  top:-96px;
  width:1231px;
  height:8px;
}
#u3079_seg2 {
  position:absolute;
  left:1219px;
  top:-210px;
  width:8px;
  height:122px;
}
#u3079_seg3 {
  position:absolute;
  left:1219px;
  top:-210px;
  width:14px;
  height:8px;
}
#u3079_seg4 {
  position:absolute;
  left:1220px;
  top:-216px;
  width:20px;
  height:20px;
}
#u3080 {
  position:absolute;
  left:578px;
  top:-100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3081 {
  position:absolute;
  left:1896px;
  top:180px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3082 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3083 {
  position:absolute;
  left:1972px;
  top:180px;
  width:101px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3084 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u3085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:27px;
}
#u3085 {
  position:absolute;
  left:2088px;
  top:177px;
  width:28px;
  height:27px;
}
#u3086 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:2px;
}
#u3087 {
  position:absolute;
  left:384px;
  top:388px;
  width:1207px;
  height:1px;
}
#u3088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3089 {
  position:absolute;
  left:1217px;
  top:67px;
  width:115px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3090 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u3091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3091 {
  position:absolute;
  left:1534px;
  top:67px;
  width:115px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3092 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u3093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3093 {
  position:absolute;
  left:1423px;
  top:67px;
  width:115px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3094 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u3095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3095 {
  position:absolute;
  left:1324px;
  top:67px;
  width:115px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u3096 {
  position:absolute;
  left:2px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u3097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3097 {
  position:absolute;
  left:2459px;
  top:292px;
  width:737px;
  height:42px;
  font-size:16px;
}
#u3098 {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  white-space:nowrap;
}
#u3099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3099 {
  position:absolute;
  left:2464px;
  top:616px;
  width:753px;
  height:42px;
  font-size:16px;
}
#u3100 {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  white-space:nowrap;
}
#u3101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3101 {
  position:absolute;
  left:2459px;
  top:940px;
  width:337px;
  height:19px;
  font-size:16px;
}
#u3102 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u3103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3103 {
  position:absolute;
  left:1576px;
  top:18px;
  width:201px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3104 {
  position:absolute;
  left:2px;
  top:2px;
  width:197px;
  word-wrap:break-word;
}
