body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:532px;
}
#u24 {
  position:absolute;
  left:0px;
  top:60px;
  width:1917px;
  height:532px;
}
#u25 {
  position:absolute;
  left:2px;
  top:258px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u26 {
  position:absolute;
  left:18px;
  top:18px;
  width:331px;
  height:32px;
  font-size:26px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:2614px;
}
#u28 {
  position:absolute;
  left:0px;
  top:592px;
  width:1917px;
  height:2614px;
}
#u29 {
  position:absolute;
  left:2px;
  top:1299px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:500px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:0px;
  top:592px;
  width:1917px;
  height:500px;
}
#u31 {
  position:absolute;
  left:2px;
  top:242px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u32 {
  position:absolute;
  left:293px;
  top:718px;
  width:491px;
  height:122px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  white-space:nowrap;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:359px;
}
#u34 {
  position:absolute;
  left:1020px;
  top:632px;
  width:604px;
  height:359px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:2px;
  top:172px;
  width:600px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:221px;
}
#u36 {
  position:absolute;
  left:1123px;
  top:704px;
  width:410px;
  height:221px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u37 {
  position:absolute;
  left:2px;
  top:102px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:55px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u38 {
  position:absolute;
  left:293px;
  top:905px;
  width:191px;
  height:55px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u39 {
  position:absolute;
  left:2px;
  top:14px;
  width:187px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u40 {
  position:absolute;
  left:1571px;
  top:98px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:1110px;
}
#u42 {
  position:absolute;
  left:0px;
  top:144px;
  width:1917px;
  height:1110px;
}
#u43 {
  position:absolute;
  left:2px;
  top:547px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:1007px;
}
#u44 {
  position:absolute;
  left:0px;
  top:1255px;
  width:1917px;
  height:1007px;
}
#u45 {
  position:absolute;
  left:2px;
  top:496px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:0px;
  top:2262px;
  width:1917px;
  height:970px;
}
#u47 {
  position:absolute;
  left:2px;
  top:477px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:427px;
}
#u48 {
  position:absolute;
  left:1253px;
  top:205px;
  width:535px;
  height:427px;
}
#u49 {
  position:absolute;
  left:2px;
  top:206px;
  width:531px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#31BFCF;
  text-align:center;
}
#u50 {
  position:absolute;
  left:1440px;
  top:263px;
  width:155px;
  height:42px;
  font-size:28px;
  color:#31BFCF;
  text-align:center;
}
#u51 {
  position:absolute;
  left:0px;
  top:4px;
  width:155px;
  word-wrap:break-word;
}
