body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:815px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1957 {
  position:absolute;
  left:0px;
  top:427px;
  width:375px;
  height:148px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:66px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1959 {
  position:absolute;
  left:-6px;
  top:303px;
  width:381px;
  height:43px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1960 {
  position:absolute;
  left:0px;
  top:14px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1961 {
  position:absolute;
  left:127px;
  top:191px;
  width:25px;
  height:25px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1963 {
  position:absolute;
  left:16px;
  top:320px;
  width:29px;
  height:16px;
}
#u1964 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1965 {
  position:absolute;
  left:236px;
  top:320px;
  width:117px;
  height:15px;
  font-size:12px;
}
#u1966 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
  background:inherit;
  background-color:rgba(46, 124, 177, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1967 {
  position:absolute;
  left:130px;
  top:18px;
  width:115px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u1968 {
  position:absolute;
  left:2px;
  top:10px;
  width:111px;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1969 {
  position:absolute;
  left:15px;
  top:431px;
  width:29px;
  height:16px;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1971 {
  position:absolute;
  left:195px;
  top:431px;
  width:167px;
  height:16px;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1973 {
  position:absolute;
  left:15px;
  top:466px;
  width:29px;
  height:16px;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1975 {
  position:absolute;
  left:293px;
  top:466px;
  width:69px;
  height:16px;
}
#u1976 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1977 {
  position:absolute;
  left:15px;
  top:500px;
  width:43px;
  height:16px;
}
#u1978 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1979 {
  position:absolute;
  left:307px;
  top:500px;
  width:55px;
  height:16px;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:248px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:58px;
  width:375px;
  height:248px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:116px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1983 {
  position:absolute;
  left:15px;
  top:398px;
  width:57px;
  height:16px;
}
#u1984 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1985 {
  position:absolute;
  left:316px;
  top:59px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1985_seg0 {
  position:absolute;
  left:-4px;
  top:-24px;
  width:8px;
  height:24px;
}
#u1985_seg1 {
  position:absolute;
  left:-4px;
  top:-24px;
  width:110px;
  height:8px;
}
#u1985_seg2 {
  position:absolute;
  left:93px;
  top:-30px;
  width:20px;
  height:20px;
}
#u1986 {
  position:absolute;
  left:-7px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1987 {
  position:absolute;
  left:422px;
  top:28px;
  width:120px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1988 {
  position:absolute;
  left:10px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:105px;
}
#u1989 {
  position:absolute;
  left:422px;
  top:348px;
  width:285px;
  height:104px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1990 {
  position:absolute;
  left:2px;
  top:4px;
  width:281px;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1991 {
  position:absolute;
  left:422px;
  top:317px;
  width:120px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1992 {
  position:absolute;
  left:10px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
}
#u1993 {
  position:absolute;
  left:422px;
  top:529px;
  width:285px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u1994 {
  position:absolute;
  left:2px;
  top:5px;
  width:281px;
  word-wrap:break-word;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1995 {
  position:absolute;
  left:422px;
  top:498px;
  width:120px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1996 {
  position:absolute;
  left:10px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u1997_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u1997 {
  position:absolute;
  left:307px;
  top:603px;
  width:17px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1998 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1999 {
  position:absolute;
  left:316px;
  top:603px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1999_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u1999_seg1 {
  position:absolute;
  left:-5px;
  top:-96px;
  width:8px;
  height:100px;
}
#u1999_seg2 {
  position:absolute;
  left:-5px;
  top:-96px;
  width:111px;
  height:8px;
}
#u1999_seg3 {
  position:absolute;
  left:93px;
  top:-102px;
  width:20px;
  height:20px;
}
#u2000 {
  position:absolute;
  left:-44px;
  top:-100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u2001 {
  position:absolute;
  left:375px;
  top:28px;
  width:17px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2002 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u2003 {
  position:absolute;
  left:358px;
  top:321px;
  width:17px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2004 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005 {
  position:absolute;
  left:375px;
  top:330px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u2005_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u2005_seg1 {
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2006 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u2008 {
  position:absolute;
  left:0px;
  top:724px;
  width:150px;
  height:50px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2010 {
  position:absolute;
  left:34px;
  top:736px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2012 {
  position:absolute;
  left:35px;
  top:815px;
  width:85px;
  height:16px;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2014 {
  position:absolute;
  left:442px;
  top:850px;
  width:379px;
  height:96px;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:40px;
  background:inherit;
  background-color:rgba(47, 151, 191, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u2016 {
  position:absolute;
  left:296px;
  top:18px;
  width:79px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u2017 {
  position:absolute;
  left:2px;
  top:12px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  opacity:0.3;
}
#u2020 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:174px;
}
#u2021 {
  position:absolute;
  left:0px;
  top:493px;
  width:375px;
  height:174px;
}
#u2022 {
  position:absolute;
  left:2px;
  top:79px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2023 {
  position:absolute;
  left:307px;
  top:493px;
  width:68px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:174px;
}
#u2025 {
  position:absolute;
  left:35px;
  top:850px;
  width:375px;
  height:174px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2026 {
  position:absolute;
  left:2px;
  top:79px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2027 {
  position:absolute;
  left:249px;
  top:391px;
  width:122px;
  height:26px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:5px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31BFCF;
}
#u2029 {
  position:absolute;
  left:210px;
  top:396px;
  width:32px;
  height:16px;
  color:#31BFCF;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:40px;
}
#u2031 {
  position:absolute;
  left:422px;
  top:59px;
  width:285px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2032 {
  position:absolute;
  left:2px;
  top:0px;
  width:281px;
  word-wrap:break-word;
}
