body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1225px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0392156862745098);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u768 {
  position:absolute;
  left:25px;
  top:9px;
  width:361px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u769 {
  position:absolute;
  left:2px;
  top:8px;
  width:357px;
  word-wrap:break-word;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:2113px;
}
#u770 {
  position:absolute;
  left:25px;
  top:54px;
  width:1200px;
  height:2113px;
}
#u771 {
  position:absolute;
  left:2px;
  top:1048px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
