body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:3040px;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:3040px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:1512px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
