body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:532px;
}
#u52 {
  position:absolute;
  left:0px;
  top:60px;
  width:1917px;
  height:532px;
}
#u53 {
  position:absolute;
  left:2px;
  top:258px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u54 {
  position:absolute;
  left:18px;
  top:18px;
  width:331px;
  height:32px;
  font-size:26px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:2614px;
}
#u56 {
  position:absolute;
  left:0px;
  top:144px;
  width:1917px;
  height:2614px;
}
#u57 {
  position:absolute;
  left:2px;
  top:1299px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u58 {
  position:absolute;
  left:1576px;
  top:100px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:346px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u60 {
  position:absolute;
  left:0px;
  top:2160px;
  width:1917px;
  height:346px;
}
#u61 {
  position:absolute;
  left:2px;
  top:165px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:55px;
  background:inherit;
  background-color:rgba(122, 157, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  position:absolute;
  left:426px;
  top:447px;
  width:292px;
  height:55px;
}
#u63 {
  position:absolute;
  left:2px;
  top:20px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:288px;
}
#u64 {
  position:absolute;
  left:1352px;
  top:248px;
  width:361px;
  height:288px;
}
#u65 {
  position:absolute;
  left:2px;
  top:136px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#31BFCF;
}
#u66 {
  position:absolute;
  left:1462px;
  top:281px;
  width:141px;
  height:33px;
  font-size:28px;
  color:#31BFCF;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
