body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:532px;
}
#u62 {
  position:absolute;
  left:0px;
  top:60px;
  width:1917px;
  height:532px;
}
#u63 {
  position:absolute;
  left:2px;
  top:258px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u64 {
  position:absolute;
  left:18px;
  top:18px;
  width:331px;
  height:32px;
  font-size:26px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:2614px;
}
#u66 {
  position:absolute;
  left:0px;
  top:144px;
  width:1917px;
  height:2614px;
}
#u67 {
  position:absolute;
  left:2px;
  top:1299px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u68 {
  position:absolute;
  left:1576px;
  top:100px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:346px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:0px;
  top:2160px;
  width:1917px;
  height:346px;
}
#u71 {
  position:absolute;
  left:2px;
  top:165px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:55px;
  background:inherit;
  background-color:rgba(122, 157, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:426px;
  top:447px;
  width:292px;
  height:55px;
}
#u73 {
  position:absolute;
  left:2px;
  top:20px;
  width:288px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:288px;
}
#u74 {
  position:absolute;
  left:1352px;
  top:248px;
  width:361px;
  height:288px;
}
#u75 {
  position:absolute;
  left:2px;
  top:136px;
  width:357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#31BFCF;
}
#u76 {
  position:absolute;
  left:1462px;
  top:281px;
  width:141px;
  height:33px;
  font-size:28px;
  color:#31BFCF;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:89px;
}
#u78 {
  position:absolute;
  left:1951px;
  top:284px;
  width:248px;
  height:88px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u79 {
  position:absolute;
  left:2px;
  top:6px;
  width:244px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u80 {
  position:absolute;
  left:1951px;
  top:248px;
  width:148px;
  height:26px;
  font-size:16px;
  color:#FFFFFF;
}
#u81 {
  position:absolute;
  left:10px;
  top:4px;
  width:128px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:32px;
}
#u82 {
  position:absolute;
  left:1951px;
  top:424px;
  width:248px;
  height:31px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u83 {
  position:absolute;
  left:2px;
  top:6px;
  width:244px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
  color:#FFFFFF;
}
#u84 {
  position:absolute;
  left:1951px;
  top:388px;
  width:148px;
  height:26px;
  font-size:16px;
  color:#FFFFFF;
}
#u85 {
  position:absolute;
  left:10px;
  top:4px;
  width:128px;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:35px;
}
#u86 {
  position:absolute;
  left:1951px;
  top:196px;
  width:248px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u87 {
  position:absolute;
  left:2px;
  top:8px;
  width:244px;
  word-wrap:break-word;
}
