body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1917px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:532px;
}
#u48 {
  position:absolute;
  left:0px;
  top:60px;
  width:1917px;
  height:532px;
}
#u49 {
  position:absolute;
  left:2px;
  top:258px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u50 {
  position:absolute;
  left:18px;
  top:18px;
  width:331px;
  height:32px;
  font-size:26px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:2614px;
}
#u52 {
  position:absolute;
  left:0px;
  top:144px;
  width:1917px;
  height:2614px;
}
#u53 {
  position:absolute;
  left:2px;
  top:1299px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u54 {
  position:absolute;
  left:1579px;
  top:99px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1917px;
  height:346px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u56 {
  position:absolute;
  left:0px;
  top:2160px;
  width:1917px;
  height:346px;
}
#u57 {
  position:absolute;
  left:2px;
  top:165px;
  width:1913px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:55px;
  background:inherit;
  background-color:rgba(122, 157, 160, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:585px;
  top:447px;
  width:132px;
  height:55px;
}
#u59 {
  position:absolute;
  left:2px;
  top:20px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
