body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2869 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2871 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:313px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2872 {
  position:absolute;
  left:0px;
  top:579px;
  width:396px;
  height:313px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2873 {
  position:absolute;
  left:2px;
  top:148px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u2874 {
  position:absolute;
  left:174px;
  top:597px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2875 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2876 {
  position:absolute;
  left:126px;
  top:653px;
  width:238px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2877 {
  position:absolute;
  left:2px;
  top:11px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u2878 {
  position:absolute;
  left:25px;
  top:659px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2879 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2880 {
  position:absolute;
  left:126px;
  top:724px;
  width:238px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2881 {
  position:absolute;
  left:2px;
  top:11px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u2882 {
  position:absolute;
  left:50px;
  top:730px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u2883 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 185, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2884 {
  position:absolute;
  left:30px;
  top:794px;
  width:338px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2885 {
  position:absolute;
  left:2px;
  top:10px;
  width:334px;
  word-wrap:break-word;
}
#u2886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u2886 {
  position:absolute;
  left:30px;
  top:856px;
  width:81px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u2887 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u2888 {
  position:absolute;
  left:232px;
  top:856px;
  width:129px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u2889 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2890 {
  position:absolute;
  left:350px;
  top:602px;
  width:25px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2891 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:136px;
}
#u2892 {
  position:absolute;
  left:419px;
  top:633px;
  width:689px;
  height:135px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2893 {
  position:absolute;
  left:2px;
  top:4px;
  width:685px;
  word-wrap:break-word;
}
#u2894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:44px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2894 {
  position:absolute;
  left:419px;
  top:579px;
  width:124px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2895 {
  position:absolute;
  left:10px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u2896 {
  position:absolute;
  left:419px;
  top:848px;
  width:726px;
  height:375px;
}
#u2897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u2897 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2898 {
  position:absolute;
  left:2px;
  top:4px;
  width:268px;
  word-wrap:break-word;
}
#u2899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:30px;
}
#u2899 {
  position:absolute;
  left:272px;
  top:0px;
  width:449px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2900 {
  position:absolute;
  left:2px;
  top:4px;
  width:445px;
  word-wrap:break-word;
}
#u2901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:39px;
}
#u2901 {
  position:absolute;
  left:0px;
  top:30px;
  width:272px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2902 {
  position:absolute;
  left:2px;
  top:9px;
  width:268px;
  word-wrap:break-word;
}
#u2903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:39px;
}
#u2903 {
  position:absolute;
  left:272px;
  top:30px;
  width:449px;
  height:39px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2904 {
  position:absolute;
  left:2px;
  top:9px;
  width:445px;
  word-wrap:break-word;
}
#u2905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:44px;
}
#u2905 {
  position:absolute;
  left:0px;
  top:69px;
  width:272px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2906 {
  position:absolute;
  left:2px;
  top:12px;
  width:268px;
  word-wrap:break-word;
}
#u2907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:44px;
}
#u2907 {
  position:absolute;
  left:272px;
  top:69px;
  width:449px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2908 {
  position:absolute;
  left:2px;
  top:12px;
  width:445px;
  word-wrap:break-word;
}
#u2909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:44px;
}
#u2909 {
  position:absolute;
  left:0px;
  top:113px;
  width:272px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2910 {
  position:absolute;
  left:2px;
  top:12px;
  width:268px;
  word-wrap:break-word;
}
#u2911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:44px;
}
#u2911 {
  position:absolute;
  left:272px;
  top:113px;
  width:449px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2912 {
  position:absolute;
  left:2px;
  top:12px;
  width:445px;
  word-wrap:break-word;
}
#u2913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:37px;
}
#u2913 {
  position:absolute;
  left:0px;
  top:157px;
  width:272px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2914 {
  position:absolute;
  left:2px;
  top:8px;
  width:268px;
  word-wrap:break-word;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:37px;
}
#u2915 {
  position:absolute;
  left:272px;
  top:157px;
  width:449px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2916 {
  position:absolute;
  left:2px;
  top:8px;
  width:445px;
  word-wrap:break-word;
}
#u2917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:43px;
}
#u2917 {
  position:absolute;
  left:0px;
  top:194px;
  width:272px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2918 {
  position:absolute;
  left:2px;
  top:11px;
  width:268px;
  word-wrap:break-word;
}
#u2919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:43px;
}
#u2919 {
  position:absolute;
  left:272px;
  top:194px;
  width:449px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2920 {
  position:absolute;
  left:2px;
  top:11px;
  width:445px;
  word-wrap:break-word;
}
#u2921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:43px;
}
#u2921 {
  position:absolute;
  left:0px;
  top:237px;
  width:272px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2922 {
  position:absolute;
  left:2px;
  top:11px;
  width:268px;
  word-wrap:break-word;
}
#u2923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:43px;
}
#u2923 {
  position:absolute;
  left:272px;
  top:237px;
  width:449px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2924 {
  position:absolute;
  left:2px;
  top:11px;
  width:445px;
  word-wrap:break-word;
}
#u2925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:43px;
}
#u2925 {
  position:absolute;
  left:0px;
  top:280px;
  width:272px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2926 {
  position:absolute;
  left:2px;
  top:11px;
  width:268px;
  word-wrap:break-word;
}
#u2927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:43px;
}
#u2927 {
  position:absolute;
  left:272px;
  top:280px;
  width:449px;
  height:43px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2928 {
  position:absolute;
  left:2px;
  top:11px;
  width:445px;
  word-wrap:break-word;
}
#u2929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:47px;
}
#u2929 {
  position:absolute;
  left:0px;
  top:323px;
  width:272px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2930 {
  position:absolute;
  left:2px;
  top:13px;
  width:268px;
  word-wrap:break-word;
}
#u2931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:47px;
}
#u2931 {
  position:absolute;
  left:272px;
  top:323px;
  width:449px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2932 {
  position:absolute;
  left:2px;
  top:13px;
  width:445px;
  word-wrap:break-word;
}
#u2933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2933 {
  position:absolute;
  left:161px;
  top:693px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u2934 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2935 {
  position:absolute;
  left:419px;
  top:777px;
  width:673px;
  height:61px;
  font-size:16px;
}
#u2936 {
  position:absolute;
  left:0px;
  top:0px;
  width:673px;
  white-space:nowrap;
}
#u2937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:313px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2939 {
  position:absolute;
  left:1450px;
  top:852px;
  width:396px;
  height:313px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2940 {
  position:absolute;
  left:2px;
  top:148px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u2941 {
  position:absolute;
  left:1624px;
  top:870px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2942 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2943 {
  position:absolute;
  left:1576px;
  top:926px;
  width:238px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2944 {
  position:absolute;
  left:2px;
  top:8px;
  width:234px;
  word-wrap:break-word;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u2945 {
  position:absolute;
  left:1498px;
  top:934px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2946 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2947 {
  position:absolute;
  left:1576px;
  top:977px;
  width:238px;
  height:33px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2948 {
  position:absolute;
  left:2px;
  top:8px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u2949 {
  position:absolute;
  left:1514px;
  top:982px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u2950 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 185, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2951 {
  position:absolute;
  left:1480px;
  top:1074px;
  width:338px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u2952 {
  position:absolute;
  left:2px;
  top:10px;
  width:334px;
  word-wrap:break-word;
}
#u2953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u2953 {
  position:absolute;
  left:1481px;
  top:1129px;
  width:81px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u2954 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u2955 {
  position:absolute;
  left:1689px;
  top:1129px;
  width:129px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u2956 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u2957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2957 {
  position:absolute;
  left:1800px;
  top:875px;
  width:25px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2959 {
  position:absolute;
  left:1576px;
  top:1025px;
  width:85px;
  height:32px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u2960 {
  position:absolute;
  left:2px;
  top:6px;
  width:81px;
  word-wrap:break-word;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2961 {
  position:absolute;
  left:1469px;
  top:1030px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u2962 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:38px;
}
#u2963 {
  position:absolute;
  left:1670px;
  top:1020px;
  width:85px;
  height:38px;
}
#u2964 {
  position:absolute;
  left:2px;
  top:11px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#009DD9;
}
#u2965 {
  position:absolute;
  left:1761px;
  top:1032px;
  width:58px;
  height:19px;
  font-size:16px;
  color:#009DD9;
}
#u2966 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u2967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:97px;
}
#u2967 {
  position:absolute;
  left:1867px;
  top:929px;
  width:606px;
  height:96px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u2968 {
  position:absolute;
  left:2px;
  top:8px;
  width:602px;
  word-wrap:break-word;
}
#u2969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:44px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2969 {
  position:absolute;
  left:1867px;
  top:866px;
  width:124px;
  height:44px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2970 {
  position:absolute;
  left:10px;
  top:12px;
  width:104px;
  word-wrap:break-word;
}
#u2971_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u2971 {
  position:absolute;
  left:134px;
  top:695px;
  width:17px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2972 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u2974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2974 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:94px;
}
#u2975 {
  position:absolute;
  left:2px;
  top:39px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2976 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:30px;
}
#u2977 {
  position:absolute;
  left:2px;
  top:7px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:67px;
}
#u2978 {
  position:absolute;
  left:81px;
  top:28px;
  width:342px;
  height:67px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2979 {
  position:absolute;
  left:2px;
  top:26px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2980 {
  position:absolute;
  left:1192px;
  top:2px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2981 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2982 {
  position:absolute;
  left:1282px;
  top:2px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2983 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u2984 {
  position:absolute;
  left:1254px;
  top:6px;
  width:1px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2985 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u2986 {
  position:absolute;
  left:1334px;
  top:6px;
  width:1px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2987 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2988 {
  position:absolute;
  left:1369px;
  top:2px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2989 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2990 {
  position:absolute;
  left:92px;
  top:3px;
  width:189px;
  height:21px;
  color:#999999;
}
#u2991 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u2992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2992 {
  position:absolute;
  left:323px;
  top:3px;
  width:203px;
  height:21px;
  color:#999999;
}
#u2993 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u2994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2994 {
  position:absolute;
  left:444px;
  top:54px;
  width:57px;
  height:16px;
}
#u2995 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:373px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2996 {
  position:absolute;
  left:0px;
  top:97px;
  width:1500px;
  height:373px;
}
#u2997 {
  position:absolute;
  left:2px;
  top:178px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:469px;
}
#u2998 {
  position:absolute;
  left:0px;
  top:97px;
  width:1500px;
  height:469px;
}
#u2999 {
  position:absolute;
  left:2px;
  top:226px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3001 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:313px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3002 {
  position:absolute;
  left:1036px;
  top:157px;
  width:396px;
  height:313px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3003 {
  position:absolute;
  left:2px;
  top:148px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u3004 {
  position:absolute;
  left:1229px;
  top:174px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3005 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3006 {
  position:absolute;
  left:1162px;
  top:231px;
  width:238px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u3007 {
  position:absolute;
  left:2px;
  top:11px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u3008 {
  position:absolute;
  left:1061px;
  top:237px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
}
#u3009 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u3010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3010 {
  position:absolute;
  left:1162px;
  top:302px;
  width:238px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3011 {
  position:absolute;
  left:2px;
  top:11px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
}
#u3012 {
  position:absolute;
  left:1086px;
  top:308px;
  width:49px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u3013 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 185, 239, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3014 {
  position:absolute;
  left:1066px;
  top:372px;
  width:338px;
  height:41px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3015 {
  position:absolute;
  left:2px;
  top:10px;
  width:334px;
  word-wrap:break-word;
}
#u3016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
}
#u3016 {
  position:absolute;
  left:1066px;
  top:434px;
  width:81px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u3017 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u3018 {
  position:absolute;
  left:1268px;
  top:434px;
  width:129px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DD9;
}
#u3019 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3020 {
  position:absolute;
  left:1189px;
  top:274px;
  width:97px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FF0000;
}
#u3021 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3022_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:27px;
  height:27px;
}
#u3022 {
  position:absolute;
  left:1162px;
  top:276px;
  width:17px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3023 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
