body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1166px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:370px;
}
#u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:370px;
}
#u486 {
  position:absolute;
  left:2px;
  top:177px;
  width:1162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487_img {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:27px;
}
#u487 {
  position:absolute;
  left:100px;
  top:225px;
  width:581px;
  height:27px;
  font-size:16px;
}
#u488 {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  word-wrap:break-word;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:581px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u489 {
  position:absolute;
  left:100px;
  top:216px;
  width:581px;
  height:46px;
}
#u490 {
  position:absolute;
  left:2px;
  top:15px;
  width:577px;
  visibility:hidden;
  word-wrap:break-word;
}
