body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u16408 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u16409 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:48px;
}
#u16410 {
  position:absolute;
  left:400px;
  top:223px;
  width:368px;
  height:47px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u16411 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u16412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16412 {
  position:absolute;
  left:400px;
  top:191px;
  width:117px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16413 {
  position:absolute;
  left:10px;
  top:2px;
  width:97px;
  word-wrap:break-word;
}
