body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1164px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1164px;
  height:289px;
}
#u302 {
  position:absolute;
  left:0px;
  top:0px;
  width:1164px;
  height:289px;
}
#u303 {
  position:absolute;
  left:2px;
  top:136px;
  width:1160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:30px;
}
#u304 {
  position:absolute;
  left:186px;
  top:216px;
  width:619px;
  height:30px;
  font-size:20px;
}
#u305 {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  word-wrap:break-word;
}
#u306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u306 {
  position:absolute;
  left:805px;
  top:216px;
  width:90px;
  height:30px;
  font-size:20px;
}
#u307 {
  position:absolute;
  left:2px;
  top:3px;
  width:86px;
  word-wrap:break-word;
}
#u308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:53px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u308 {
  position:absolute;
  left:21px;
  top:312px;
  width:297px;
  height:53px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u309 {
  position:absolute;
  left:10px;
  top:13px;
  width:277px;
  word-wrap:break-word;
}
#u310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:62px;
}
#u310 {
  position:absolute;
  left:21px;
  top:384px;
  width:784px;
  height:61px;
  font-size:20px;
  text-align:left;
}
#u311 {
  position:absolute;
  left:2px;
  top:2px;
  width:780px;
  word-wrap:break-word;
}
